@use "setting" as *;

#header {
    width: 100%;
}

.globalNav {
    display: none;
    @media not all and (max-width: $pc) {
        display: block;
        background-color: c(main);
    }
    .menu {
        max-width: 940px;
        height: 34px;
        padding: 74px 20px 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(7, auto);
        justify-content: space-between;
        @media not all and (max-width: $lg){
            max-width: 100%;
            width: vw(940,1440);
            height: vw(34,1440);
            padding: vw(74,1440) vw(20,1440) 0;
        }
        &__item {
            font-size: 1rem;
            display: grid;
            place-items: center;
            @media not all and (max-width: $lg){
                font-size: vw(16,1440);
            }
            a {
                position: relative;
                color: #fff;
                transition: 0.2s;
                display: inline-block;
                &:hover {
                    color: c(text-bk);
                }
            }

            ////// ホバー設定 //////
            a::after {
                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 1px;

                content: "";
                transition: transform 0.2s;
                transform: scale(0, 1);
                transform-origin: left top;

                background: c(text-bk);
                @media not all and (max-width: $lg){
                    height: vw(1,1440);
                }
            }
            a:hover::after {
                transform: scale(1, 1);
            }
            ////// ホバー設定 //////
        }
    }
    .menu__item--box {
        border: 1px solid #fff;
        @include rem(16);
        font-weight: bold;
        @include ls(100);
        width: 223px;
        height: 34px;
        display: grid;
        place-items: center;
        margin-left: 39px;
        @media not all and (max-width: $lg){
            border: vw(1,1440) solid #fff;
            font-size: vw(16,1440);
            width: vw(223,1440);
            height: vw(34,1440);
            margin-left: vw(39,1440);

        }
        a {
            transition: 0.2s;
            width: 223px;
            height: 34px;
            display: grid;
            color: #fff;
            place-items: center;
            @media not all and (max-width: $lg){
                width: 100%;
                height: 100%;
    
            }
            &:hover {
                background-color: #fff;
                color: c(main);
            }
        }
    }
    .menu__item--s {
        @include rem(12);
        @media not all and (max-width: $lg){
            font-size: vw(12,1440);
        }
    }
}
//=========== SPハンバーガーメニュー ここから ==========*/
.globalNav--sp {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: -120%;
    width: 100vw;
    height: 100vh;
    opacity: 1; //page-fade-transitionとか設定するとページ遷移時、ちらっと映り込むので0を指定。jsで1にする
    background-color: c(main);
    transition: $time;
    display: grid;
    place-items: center;
    padding-top: vw(44);
    padding-bottom: vw(150);
    overflow: auto;
    @media not all and (max-width: $pc) {
        display: none;
    }
    .siteLogo {
        margin: 0 auto;
        width: vw(186);
        margin-bottom: 0.2vw;
        @media not all and (max-width: $pc) {
            width: 186px;
        }
    }
    .siteLogo__img {
        width: 100%;
    }

    .menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &__item {
            font-size: vw(30);
            font-family: ff(en);
            @include ls(400);
            width: vw(548.3);
            border-bottom: vw(1) solid #fff;
            margin-bottom: 10vw;
            a {
                color: #ebebeb;
                display: block;
            }
        }
        &__item--s {
            font-size: vw(25);
            @include ls(100);
        }
    }
}
.ruby {
    font-size: vw(18);
    @include ls(100);
    font-weight: bold;
    margin-left: 4.3vw;
    vertical-align: middle;
}
.js-slideIn {
    right: 0;
}
.addressWrap--menu {
    width: vw(474);
}
.address__tel--menu {
    background-color: #fff;
    margin-bottom: vw(22);
}
.access__btn--menu {
    color: #fff;
    font-size: vw(16);
    font-weight: bold;
    @include ls(100);
    text-align-last: left;
    position: relative;
    padding-left: vw(10);
    margin-left: vw(9);
    margin-bottom: 13.8vw;
    &::before {
        content: "";
        position: absolute;
        top: 1vw;
        transform: translateX(-50%) rotate(-90deg);
        @include san-spMenu;
        color: #fff;
        left: vw(-3);
    }
}
.sns--menu {
    color: #fff;
    display: block;
    margin-bottom: 2.5vw;
    .fa-facebook-square:before {
        color: #fff;
        font-size: 7.2vw;
    }
}
.copyright__txt--menu {
    color: #fff;
    font-size: vw(12);
}
