@use "setting" as *;

.spMenu-Wrap {
    display: none;
    @media (max-width: $sp) {
        display: block;
    }
}
.open #global-nav-sp {
    z-index: 1000;

    visibility: visible;
}
#global-nav-sp {
    font-size: 5vw;

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    width: 100%;
    height: 100%;

    text-align: center;
    vertical-align: middle;

    color: #000;
    .menu {
        vertical-align: middle;
        &-item {
            transition: none;
            transform: scaleX(0) translateX(-260px);
            margin-bottom: 6.5vw;
            opacity: 0;
        }
    }
    a {
        display: block;

        line-height: 5vw;
        text-decoration: none;
        span {
            font-size: 4vw;
        }
    }
}

// ****** nav-list ********************************* */
.open #global-nav-sp .menu .menu__item {
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
    transform: scaleX(1) translateX(0);

    opacity: 1;
}
.open #global-nav-sp .menu .menu__item:nth-child(2) {
    transition-delay: 0.3s;
}
.open #global-nav-sp .menu .menu__item:nth-child(3) {
    transition-delay: 0.4s;
}
.open #global-nav-sp .menu .menu__item:nth-child(4) {
    transition-delay: 0.5s;
}
.open #global-nav-sp .menu .menu__item:nth-child(5) {
    transition-delay: 0.6s;
}
.open #global-nav-sp .menu .menu__item:nth-child(6) {
    transition-delay: 0.7s;
}

// ******* #nav-bg *************************************** */
#nav-bg {
    position: fixed;
    z-index: 999;
    // top: 9vw;
    // right: 13vw;
    top: -3vw;
    right: -6vw;

    display: block;

    width: 2400px;
    height: 2400px;
    margin-top: -1200px;
    margin-right: -1200px;

    content: "";
    transition: all 0.3s ease-out;
    transform: scale(0.01);

    border-radius: 50%;
    background: red;

    backface-visibility: hidden;
}
.open #nav-bg {
    transition: all 0.5s cubic-bezier(0.87, 0.06, 0.58, 0.91);
    transform: scale(1);
}

// ******** #nav-toggle ************************************ */
#nav-toggle {
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;

    display: block;

    width: 10vw;
    height: 10vw;
    padding: 1vw;
    cursor: pointer;

    background-color: #000;
}
#hamburger-c {
    position: relative;

    width: 100%;
    height: 100%;
    span {
        position: absolute;
        left: 0;

        display: block;
        width: 100%;
        height: 0.6vw;

        transition: 0.35s ease-in-out;

        background: #fff;
    }
}

#hamburger-c span:nth-child(1) {
    top: 1vw;
}
#hamburger-c span:nth-child(2) {
    top: 4vw;
}
#hamburger-c span:nth-child(3) {
    top: 7vw;
}

.open #nav-toggle {
    background: transparent;
}
.open #hamburger-c span {
    background: #fff;
}

.open #hamburger-c span:nth-child(1) {
    top: 50%;

    transform: rotate(-135deg);
}
.open #hamburger-c span:nth-child(2) {
    left: 50%;

    width: 0;
}
.open #hamburger-c span:nth-child(3) {
    top: 50%;

    transform: rotate(135deg);
}
