@use "setting" as *;

// レイアウト部分 /////////////////////////////////////////
.hr-body {
    padding-top: 50px;
}
hr {
    margin-bottom: 50px;
}
// ノーマル ///////////////////////////////////////////////
.hr {
    border-top: 1px solid #000;
}
// ドット ///////////////////////////////////////////////
.hr__dot {
    border-top: 1px dotted #000;
}
// 破線 ///////////////////////////////////////////////
.hr__dash {
    border-top: 1px dashed #000;
}
// 二重線 ///////////////////////////////////////////////
.hr__double {
    border-top: 3px double #000;
}
// 立体線 ///////////////////////////////////////////////
.hr__solid {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #fff;
}
// グラデーション ///////////////////////////////////////////////
.hr__gradient {
    height: 1px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(transparent),
        color-stop(#ccc),
        to(transparent)
    );
    background-image: linear-gradient(to right, transparent, #ccc, transparent);
}
// 見出し文字付 ///////////////////////////////////////////////
.hr__heading {
    border-top: 1px solid #000;
    text-align: center;
    &::after {
        content: "NEWS";
        background: #fff;
        color: #000;
        display: inline-block;
        height: 2em;
        line-height: 2em;
        position: relative;
        top: -1em;
        padding: 0 1em;
    }
}
