@use "setting" as *;

.underline {
    display: inline-block;
    position: relative;
    &::after {
        background: linear-gradient(to bottom, transparent 50%, aqua 100%);
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1.5em;
        z-index: z(back);
        transition: all 0.8s;
    }
}
.underline.is-underline:after {
    width: 100%;
}

//削除せよ
.pd {
    padding: 500px;
}
