@use "variables" as *;
//============ 必須コード ===============*/

//============ lsとlhの設定===============*/

@mixin lh($pixels, $height) {
    line-height: calc($height / $pixels);
}
@mixin ls($spacing) {
    letter-spacing: calc($spacing / 1000) + em;
}

//============ pxをrem変換 ===============*/
@mixin rem($px) {
    font-size: ($px / 16) + rem;
}
//============ 三角形 ===============*/

@mixin san(
    $direction: bottom,
    $width: 2.1875vw,
    $height: 1.09vw,
    $color: #fff
) {
    width: 0;
    height: 0;
    border-style: solid;
    $valWidth: calc($width / 2);
    $valHeight: calc($height / 2);
    @if ($direction == top) {
        border-width: 0 $valWidth $height $valWidth;
        border-color: transparent transparent $color transparent;
    } @else if ($direction == left) {
        border-width: $valHeight $width $valHeight 0;
        border-color: transparent $color transparent transparent;
    } @else if ($direction == right) {
        border-width: $valHeight 0 $valHeight $width;
        border-color: transparent transparent transparent $color;
    } @else if ($direction == bottom) {
        border-width: $height $valWidth 0 $valWidth;
        border-color: $color transparent transparent transparent;
    }
}
@mixin san2(
    $direction: bottom,
    $width: 2.1875vw,
    $height: 1.09vw,
    $color: #6f7d6d
) {
    width: 0;
    height: 0;
    border-style: solid;
    $valWidth: calc($width / 2);
    $valHeight: calc($height / 2);
    @if ($direction == top) {
        border-width: 0 $valWidth $height $valWidth;
        border-color: transparent transparent $color transparent;
    } @else if ($direction == left) {
        border-width: $valHeight $width $valHeight 0;
        border-color: transparent $color transparent transparent;
    } @else if ($direction == right) {
        border-width: $valHeight 0 $valHeight $width;
        border-color: transparent transparent transparent $color;
    } @else if ($direction == bottom) {
        border-width: $height $valWidth 0 $valWidth;
        border-color: $color transparent transparent transparent;
    }
}
@mixin san-pc($direction: bottom, $width: 14px, $height: 7px, $color: #fff) {
    width: 0;
    height: 0;
    border-style: solid;
    $valWidth: calc($width / 2);
    $valHeight: calc($height / 2);
    @if ($direction == top) {
        border-width: 0 $valWidth $height $valWidth;
        border-color: transparent transparent $color transparent;
    } @else if ($direction == left) {
        border-width: $valHeight $width $valHeight 0;
        border-color: transparent $color transparent transparent;
    } @else if ($direction == right) {
        border-width: $valHeight 0 $valHeight $width;
        border-color: transparent transparent transparent $color;
    } @else if ($direction == bottom) {
        border-width: $height $valWidth 0 $valWidth;
        border-color: $color transparent transparent transparent;
    }
    &:hover {
        @if ($direction == top) {
            border-width: 0 $valWidth $height $valWidth;
            border-color: transparent transparent #000 transparent;
        } @else if ($direction == left) {
            border-width: $valHeight $width $valHeight 0;
            border-color: transparent #000 transparent transparent;
        } @else if ($direction == right) {
            border-width: $valHeight 0 $valHeight $width;
            border-color: transparent transparent transparent #000;
        } @else if ($direction == bottom) {
            border-width: $height $valWidth 0 $valWidth;
            border-color: #000 transparent transparent transparent;
        }
    }
}
@mixin san-pc-hover($direction: bottom, $width: 14px, $height: 7px, $color: #fff) {
    width: 0;
    height: 0;
    border-style: solid;
    $valWidth: calc($width / 2);
    $valHeight: calc($height / 2);
    @if ($direction == top) {
        border-width: 0 $valWidth $height $valWidth;
        border-color: transparent transparent #000 transparent;
    } @else if ($direction == left) {
        border-width: $valHeight $width $valHeight 0;
        border-color: transparent #000 transparent transparent;
    } @else if ($direction == right) {
        border-width: $valHeight 0 $valHeight $width;
        border-color: transparent transparent transparent #000;
    } @else if ($direction == bottom) {
        border-width: $height $valWidth 0 $valWidth;
        border-color: #000 transparent transparent transparent;
    }
}

@mixin overlay($bgc: #001405, $opacity: 0.17) {
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $bgc;
        opacity: $opacity;
    }
}
