@use "variables" as *;

//============ <div class="overlay-txt">オーバーレイテキスト</div>などのところに使用する ===============*/

@mixin overlay-t {
    padding: 6em 1em;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("http://placehold.jp/1400x500.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

//============ ボタン内の矢印（afterの中身） ===============*/

@mixin arrow($bdSize: 0.17em, $size: 0.8em, $right: 1.5em) {
    &::after {
        content: "";
        width: $size;
        height: $size;
        border: 0px;
        border-top: solid $bdSize currentColor;
        border-right: solid $bdSize currentColor;
        position: absolute;
        top: 50%;
        right: $right;
        transform: translateY(-50%) rotate(45deg);
    }
}
//============ 擬似要素でボーダーを作る（親にpos:reを忘れずに） ===============*/

@mixin bd-b($w: 100%, $h: 0.1em, $b: 0, $l: 0) {
    &::after {
        content: "";
        display: block;
        width: $w;
        height: $h;
        background-color: #000;
        position: absolute;
        bottom: $b;
        left: $l;
    }
}

@mixin bd-l($w: 0.1em, $h: 100%, $t: 0, $l: 0) {
    &::before {
        content: "";
        display: inline-block;
        width: $w;
        height: $h;
        background-color: #000;
        position: absolute;
        top: $t;
        left: $l;
    }
}
//============ ホバー:下線スライド ===============*/

@mixin hover-bb($height: 3px) {
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: $height;
        background: #fff;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
    }
}
//============ ホバー：左から右へ抜ける ===============*/

@mixin hover-slideLR {
    &::before {
        position: absolute; //aタグにpos:relativeを忘れずに
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // z-index: z(back);
        content: "";
        background: #fff;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform 0.2s;
    }
    &:hover::before,
    &:focus::before {
        transform-origin: left top;
        transform: scale(1, 1);
    }
    &:hover {
        color: #e25c00;
    }
}
//============ ページ内リンクで固定ヘッダーをかわすコード ===============*/
@mixin pageLink {
    &::before {
        content: "";
        height: 100px;
        margin-top: 100px;
        display: block;
        visibility: hidden;
    }
}


