// headerの高さ指定 ////////////////////////////////////////////////////
$header-height: 80px;
$header-height-sp: vw(100);

// @media ブレイクポイント///////////////////////////////////////////////
$sp: 850px;
$pc: 850px;
$md: 1200px;
$lg: 1440px;

// ハンバーガーメニューの動く時間＆右からスライドインしてくる時間の調整 //////////
$time: 0.2s;

// font-size: unquote('min(17.3vw, 242px)');
// font-size: unquote('clamp(47px, 1rem + 4.57vw, 64px)');
