@use "setting" as *;

@font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/Noto-sans/NotoSans400-subset.woff")
        format("woff");
    font-display: swap;
}
