@charset "UTF-8";


body {
  min-height: 100vh;
  font-family: YuMincho, Yu Mincho, 游明朝体, sans-serif;
}

.main {
  color: #fff;
}

.no-js .lazy {
  display: none;
}

.contents-layout {
  display: flex;
  row-gap: 100px;
  flex-direction: column;
  padding-bottom: 100px;
}

.br {
  display: none;
}

/* reset.cssここから */
*,
:before,
:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  text-rendering: optimizeSpeed;
  margin: 0;
  line-height: 1.5;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  overflow: visible;
  border: 0;
}

pre {
  font-size: inherit;
  font-family: monospace, monospace;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  vertical-align: middle;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

option {
  padding: 0;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable] {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  text-align: left;
}

/* reset.cssここまで */
@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Noto-sans/NotoSans400-subset.woff") format("woff");
  font-family: "NotoSans";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/Noto-sans/NotoSans700-subset.woff") format("woff");
  font-family: "NotoSans";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Noto-serif/NotoSerif400-subset.woff") format("woff");
  font-family: "NotoSerif";
  font-display: swap;
}
/*
下記のような形で複数指定できる
    src: url('../font/notosans_medium.ttf') format('truetype'),
    url('../font/notosans_medium.woff') format('woff'),
    url('../font/notosans_bold.ttf') format('truetype'),
    url('../font/notosans_bold.woff') format('woff');
*/
#footer {
  display: grid;
  place-items: center;
  height: 14.0625vw;
  background-color: #fff;
}

.footerNav {
  display: none;
}
.footerNav .menu__item a {
  position: relative;
}
.footerNav .menu__item a:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  background: #001405;
  content: "";
  transition: transform 0.2s;
}
.footerNav .menu__item a:hover:after {
  transform: scale(1, 1);
}

.copyright__txt {
  color: #363636;
  font-size: 1.875vw;
  font-family: Arimo, sans-serif;
  letter-spacing: 0.06em;
}

.sns {
  display: none;
}

#header {
  width: 100%;
}

.globalNav {
  display: none;
}
.globalNav .menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  width: 900px;
  height: 34px;
  margin: 0 auto;
  padding-top: 82px;
  gap: 2em;
}
.globalNav .menu__item {
  display: grid;
  place-items: center;
  font-size: 16px;
  font-size: 1rem;
}
.globalNav .menu__item a {
  display: inline-block;
  position: relative;
  color: #fff;
  transition: 0.2s;
}
.globalNav .menu__item a:hover {
  color: #001405;
}
.globalNav .menu__item a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  background: #001405;
  content: "";
  transition: transform 0.2s;
}
.globalNav .menu__item a:hover:after {
  transform: scale(1, 1);
}
.globalNav .menu__item--box {
  display: grid;
  place-items: center;
  width: 223px;
  height: 34px;
  margin-left: 39px;
  border: 1px solid #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.globalNav .menu__item--box a {
  display: grid;
  place-items: center;
  width: 223px;
  height: 34px;
  color: #fff;
  transition: 0.2s;
}
.globalNav .menu__item--box a:hover {
  background-color: #fff;
  color: #6f7d6d;
}
.globalNav .menu__item--s {
  font-size: 12px;
}

.globalNav--sp {
  display: grid;
  z-index: 20;
  position: fixed;
  top: 0;
  right: -120%;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #6f7d6d;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: 0.2s;
}
.globalNav--sp .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  line-height: 20vw;
  letter-spacing: 1.5vw;
}
.globalNav--sp .menu__item a {
  color: #ebebeb;
}

.js-slideIn {
  right: 0;
}

.about {
  padding-top: 28.125vw;
  padding-bottom: 20vw;
  padding-left: 3.125vw;
  background-color: #6f7d6d;
}

.about__ttl {
  margin-bottom: 4.6875vw;
  margin-left: 8.4375vw;
  padding-top: 1.5625vw;
}

.about__subTtl {
  margin-bottom: 4.6875vw;
  margin-left: 8.4375vw;
}

.access {
  width: 74.0625vw;
  margin: 0 auto;
  padding-top: 9.84375vw;
  background-color: #fff;
  color: #001405;
  text-align: center;
}

.access__num {
  margin-bottom: 4.6875vw;
}

.access__ttl {
  margin-bottom: 2.65625vw;
  font-size: 3.4375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
}

.access__subTtl {
  margin-bottom: 12.5vw;
  font-size: 2.5vw;
  letter-spacing: 0.4em;
}

.address {
  font-size: 2.5vw;
  letter-spacing: 0.4em;
}

.address__ttl {
  margin-bottom: 4.6875vw;
}

.address__tel {
  display: inline-block;
  display: grid;
  position: relative;
  place-items: center;
  width: 74.0625vw;
  height: 11.25vw;
  margin: 0 auto;
  margin-top: 9.375vw;
  margin-bottom: 3.4375vw;
  border: 1px solid #6f7d6d;
  color: #6f7d6d;
  font-size: 5.3125vw;
  letter-spacing: 0.1em;
}
.address__tel:before {
  display: inline-block;
  position: absolute;
  left: 9%;
  width: 7.5vw;
  height: 6.71875vw;
  background-image: url(../../assets/images/tel-icon.png);
  background-size: contain;
  content: "";
  vertical-align: middle;
}

.access__btn {
  position: relative;
  margin-bottom: 9.375vw;
  margin-left: 1.40625vw;
  padding-left: 1.5625vw;
  color: #6f7d6d;
  font-weight: bold;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
  text-align-last: left;
}
.access__btn:before {
  position: absolute;
  top: 1vw;
  left: -0.46875vw;
  width: 0;
  height: 0;
  transform: translateX(-50%) rotate(-90deg);
  border-width: 1.09vw 1.09375vw 0 1.09375vw;
  border-style: solid;
  border-color: #6f7d6d transparent transparent transparent;
  content: "";
  color: #6f7d6d;
}

.map1 {
  margin-bottom: 8.59375vw;
}

.map2 {
  margin-bottom: 1.875vw;
}

.accordion {
  margin: 0 auto;
  margin-bottom: 20.625vw;
  list-style: none;
}

.accordion__list {
  margin-bottom: 1.6vw;
}

.accordion__section {
  border-bottom: 0.15625vw solid #ccc;
}

.accordion__title {
  position: relative;
  padding: 3% 3% 0.8% 7.6%;
  font-size: 3.125vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
  cursor: pointer;
  transition: all 0.5s ease;
}

.accordion__title--ja,
.accordion__text {
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.accordion__title--ja {
  margin-left: 1.4vw;
}

.accordion__title:before {
  position: absolute;
  top: 60.5%;
  left: 2.5%;
  width: 0;
  height: 0;
  transform: translateY(-50%) rotate(-90deg);
  border-width: 1.09vw 1.09375vw 0 1.09375vw;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  content: "";
  transition: 0.2s;
}

.accordion__title.close:before {
  transform: rotate(0deg);
}

.accordion__box {
  display: none;
  margin-top: 2vw;
  margin-bottom: 3.4vw;
  text-align: justify;
}

.card {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 10.3vw;
  color: inherit;
  text-decoration: none;
}

.card__ttl {
  margin-bottom: 2.5vw;
  font-size: 2.5vw;
  letter-spacing: 0.2em;
}

.card__figure {
  width: 45.46875vw;
  height: 28.59375vw;
  margin-bottom: 2.4vw;
  text-align: center;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.card__link {
  position: relative;
  font-weight: bold;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
  text-align: right;
}
.card__link:before {
  position: absolute;
  top: 1vw;
  left: 28.5vw;
  width: 0;
  height: 0;
  transform: translateX(-50%) rotate(-90deg);
  border-width: 1.09vw 1.09375vw 0 1.09375vw;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  content: "";
  transition: 0.2s;
}
.card__link:after {
  position: absolute;
  right: 0;
  bottom: -0.6vw;
  width: 37.8125vw;
  height: 0.15625vw;
  background-color: #fff;
  content: "";
  transition: 0.2s;
}
.card__link a {
  transition: 0.2s;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-right: 3.125vw;
  gap: 2.34375vw;
}

.eventInfo {
  padding-bottom: 12.5vw;
  padding-left: 3.125vw;
  background-color: #6f7d6d;
}

.eventInfo__num {
  margin-bottom: 4.6875vw;
}

.eventInfo__ttl {
  margin-bottom: 2.65625vw;
  font-size: 3.4375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
}

.eventInfo__subTtl {
  margin-bottom: 12.5vw;
  font-size: 2.5vw;
  letter-spacing: 0.4em;
}

.eventInfo__btn {
  margin: 0 auto;
}

.globalNav-2 {
  display: none;
}
.globalNav-2 .menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  width: 443px;
}
.globalNav-2 .menu__item {
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.globalNav-2 .menu__item a {
  display: inline-block;
  position: relative;
  color: #fff;
  transition: 0.2s;
}
.globalNav-2 .menu__item a:hover {
  color: #001405;
}
.globalNav-2 .menu__item a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  background: #001405;
  content: "";
  transition: transform 0.2s;
}
.globalNav-2 .menu__item a:hover:after {
  transform: scale(1, 1);
}
.globalNav-2 .menu__item--s {
  font-weight: normal;
  font-size: 12px;
}
.pageLogo-pc img {
  width: 100%;
}

#hamburger,
.hamburger__bar {
  box-sizing: border-box;
  display: inline-block;
  display: none;
  transition: all 0.2s;
}

#hamburger {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 30;
  position: absolute;
  top: 3.125vw;
  left: 3.125vw;
  width: 4.6875vw;
  height: 3.125vw;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger__bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.15625vw;
  background-color: #fff;
}

.barTop {
  top: 0%;
}

.barMiddle {
  top: 50%;
}

.barBottom {
  top: 100%;
}

#hamburger.active .barTop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#hamburger.active .barMiddle {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#hamburger.active .barBottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.no-scroll {
  overflow: hidden;
}

.mainVisual {
  position: relative;
  height: 100vh;
}

.mainVisual__txtWrap {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.slider-1 {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  /*矢印の設定*/
  /*戻る、次へ矢印の位置*/
  /*ドットナビゲーションの設定*/
}
.slider-1 .slick-prev,
.slider-1 .slick-next {
  /*絶対配置にする*/
  z-index: 3;
  position: absolute;
  top: 42%;
  width: 25px;
  /*矢印の色*/
  height: 25px;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #ccc;
  /*矢印の色*/
  border-right: 2px solid #ccc;
  /*マウスカーソルを指マークに*/
  outline: none;
  cursor: pointer;
}
.slider-1 .slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  transform: rotate(-135deg);
}
.slider-1 .slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  transform: rotate(45deg);
}
.slider-1 .slick-dots {
  z-index: 3;
  position: relative;
  top: 10%;
  margin: -50px 0 0 0;
  text-align: center;
}
.slider-1 .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slider-1 .slick-dots button {
  /*ドットボタンのサイズ*/
  display: block;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  border-radius: 50%;
  outline: none;
  background: #ccc;
  color: transparent;
  /*ドットボタンの色*/
}
.slider-1 .slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

.slider-1__item01 {
  background: url(../../assets/images/TOP/mainvisual-sp.jpg);
}

.slider-1__item02 {
  background: url(../../assets/images/TOP/golf-course-sp.jpg);
}

.slider-1__item03 {
  background: url(../../assets/images/TOP/golf-originalCourse.jpg);
}

.slider-1__item {
  width: 100%;
  /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 100vh;
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;
  /*背景画像が.slider-item全体を覆い表示*/
}

.siteTtl {
  margin-bottom: 17.96875vw;
  color: #fff;
  font-size: 4.0625vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
  text-align: center;
}

.siteLogo {
  width: 29.0625vw;
  margin: 0 auto;
}

.siteLogo__img {
  width: 100%;
}

.reservationBtn {
  z-index: 999;
  position: fixed;
  bottom: 14.84375vw;
  width: 15.625vw;
  height: 32.34375vw;
  background-color: #6f7d6d;
  box-shadow: 0 0.46875vw 0.9375vw #1f1e1e;
}
.reservationBtn a {
  display: grid;
  position: relative;
  place-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 3.4375vw;
  letter-spacing: 0.4em;
  writing-mode: vertical-rl;
}
.reservationBtn a:before {
  position: absolute;
  top: 5.15625vw;
  left: 51%;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  border-width: 1.09vw 1.09375vw 0 1.09375vw;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  content: "";
}

.media {
  display: grid;
  position: relative;
  align-items: center;
  padding-bottom: 21.875vw;
  padding-left: 3.125vw;
  background-color: #6f7d6d;
}
.media:before {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 2.65625vw;
  width: 0.15625vw;
  height: 63.70625vw;
  transform: translateY(-50%);
  background-color: #fff;
  content: "";
}

.media__body {
  padding-left: 6.71875vw;
}

.media__ttl {
  margin-bottom: 10vw;
  font-weight: bold;
  font-size: 2.8125vw;
  letter-spacing: 0.4em;
}

.media__img {
  width: 80.15625vw;
  height: 48.59375vw;
  margin: 0 0 0 auto;
}
.media__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media__text {
  margin-bottom: 5.46875vw;
  font-size: 2.5vw;
  letter-spacing: 0.2em;
}

.media__num {
  margin-bottom: 10vw;
}

.media__reverse .media__img {
  order: 2;
}

.media__btn {
  margin-top: 9.375vw;
}

.pageVisual {
  position: relative;
  margin-bottom: 13vw;
}

.pageVisual--res-price {
  margin-bottom: 8vw;
}

.pageVisual__img--sp {
  width: 100%;
  height: 58.28125vw;
  background: url(../../assets/images/pageVisual-sp.jpg) center center/cover no-repeat;
}

.pageVisual__img--pc {
  display: none;
}

.pageVisual__textWrap {
  position: absolute;
  top: 26.4%;
  left: 0;
}

.pageVisual__text--en {
  position: relative;
  margin-bottom: 2vw;
  padding-left: 10.5vw;
  font-size: 3.59375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
}
.pageVisual__text--en:before {
  position: absolute;
  top: -17.4vw;
  left: 6.3vw;
  width: 0.15625vw;
  height: 33.8046875vw;
  background-color: #fff;
  content: "";
}

.pageVisual__text--ja {
  margin-bottom: 12vw;
  padding-left: 7.8vw;
  font-size: 2.96875vw;
  letter-spacing: 0.4em;
}

.conteTtl {
  margin-bottom: 13vw;
  font-size: 3.125vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
  text-align: center;
}

.faci-postsWrap {
  width: 84.53125vw;
  margin: 0 auto;
}

.faci-posts__item {
  margin-bottom: 22vw;
}

.faci-post__figure {
  width: 84.0625vw;
  height: 44.0625vw;
  margin-bottom: 5.2vw;
}

.faci-post__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.faci-post__excerpt {
  margin-bottom: 4.6vw;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: justify;
}

.postContainer {
  background-color: #6f7d6d;
  color: #fff;
}

.postsWrap {
  width: 84.0625vw;
  margin: 0 auto;
}

.posts__item {
  margin-bottom: 26.5625vw;
}

.brandLogo {
  width: 29.0625vw;
  margin: 0 auto 6.8vw;
  padding-top: 6.25vw;
  text-align: center;
}
.brandLogo img {
  width: 100%;
}

.pageTtl__en {
  position: relative;
  margin-bottom: 2vw;
  padding-left: 10.5vw;
  font-size: 3.59375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
}
.pageTtl__en:before {
  position: absolute;
  top: -5vw;
  left: 5.5vw;
  width: 0.15625vw;
  height: 39.0625vw;
  background-color: #fff;
  content: "";
}

.pageTtl__ja {
  margin-bottom: 12vw;
  padding-left: 10.3125vw;
  font-size: 2.96875vw;
  letter-spacing: 0.4em;
}

.post__figure {
  width: 84.0625vw;
  height: 44.0625vw;
  margin-bottom: 2.7vw;
}

.post__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__date {
  display: block;
  margin-bottom: 2.7vw;
  font-size: 1.875vw;
  font-family: NotoSans;
  letter-spacing: 0.05em;
}

.post__week {
  margin-left: 0.78125vw;
}

.post__excerpt {
  margin-bottom: 4.6vw;
  font-size: 2.5vw;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: justify;
}

.post__link {
  display: block;
  position: relative;
  width: 37.8125vw;
  margin: 0 0 0 auto;
  font-weight: bold;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
  text-align: right;
  transition: 0.2s;
}
.post__link:before {
  position: absolute;
  top: 1.2vw;
  left: 18.5vw;
  width: 0;
  height: 0;
  transform: translateX(-50%) rotate(-90deg);
  border-width: 1.09vw 1.09375vw 0 1.09375vw;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  content: "";
  transition: 0.2s;
}
.post__link:after {
  position: absolute;
  right: 0;
  bottom: -1vw;
  width: 37.8125vw;
  height: 0.15625vw;
  margin-top: 3.125vw;
  background-color: #fff;
  content: "";
  transition: 0.2s;
}
.post__link a {
  transition: 0.2s;
}

.posts__btn {
  display: block;
  margin: 0 auto;
  margin-top: 34.7vw;
  margin-bottom: 7.1875vw;
}

.slider-2 {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  /*背景画像が.slider-item全体を覆い表示*/
  background: url(../../assets/images/TOP/golf-course-sp.jpg);
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;
  /*矢印の設定*/
  /*戻る、次へ矢印の位置*/
  /*ドットナビゲーションの設定*/
}
.slider-2 .slick-prev,
.slider-2 .slick-next {
  /*絶対配置にする*/
  z-index: 3;
  position: absolute;
  top: 42%;
  width: 25px;
  /*矢印の色*/
  height: 25px;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #ccc;
  /*矢印の色*/
  border-right: 2px solid #ccc;
  /*マウスカーソルを指マークに*/
  outline: none;
  cursor: pointer;
}
.slider-2 .slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  transform: rotate(-135deg);
}
.slider-2 .slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  transform: rotate(45deg);
}
.slider-2 .slick-dots {
  z-index: 3;
  position: relative;
  top: 10%;
  margin: -50px 0 0 0;
  text-align: center;
}
.slider-2 .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slider-2 .slick-dots button {
  /*ドットボタンのサイズ*/
  display: block;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  border-radius: 50%;
  outline: none;
  background: #ccc;
  color: transparent;
  /*ドットボタンの色*/
}
.slider-2 .slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

.slider-2__item {
  position: absolute;
  top: 50%;
  padding-left: 8.4375vw;
  transform: translateY(-50%);
}

.slider-2__ttl {
  margin-bottom: 5.46875vw;
  padding-top: 46.875vw;
  font-weight: bold;
  font-size: 3.90625vw;
  letter-spacing: 0.4em;
}

.slider-2__subTtl {
  margin-bottom: 20.3125vw;
  font-weight: normal;
  font-size: 2.65625vw;
  letter-spacing: 0.4em;
}

.slider-2__text {
  width: 63.28125vw;
  margin-bottom: 10.15625vw;
  font-weight: normal;
  font-size: 2.1875vw;
  letter-spacing: 0.2em;
}

.slider-2__point {
  display: none;
}

/*ドットナビゲーションの設定*/
.slider-3 .slick-dots {
  z-index: 3;
  position: relative;
  top: -72vw;
  margin: -7.8125vw 0 0 0;
  text-align: center;
}
.slider-3 .slick-dots li {
  display: inline-block;
  margin: 0;
}
.slider-3 .slick-dots li {
  width: 7.34375vw;
  height: 0.78125vw;
}
.slider-3 .slick-dots li button:before {
  width: 100%;
  height: 0.15625vw;
  background: #fff;
  content: "";
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.slider-3 .slick-dots li.slick-active button:before {
  background: #041D00;
}

.table {
  width: 88.4375vw;
  margin: 0 auto;
  margin-bottom: 5.4vw;
  border-collapse: collapse;
}

tbody,
td,
th {
  width: 88.4375vw;
  border: 0.15625vw solid #fff;
}

.table th,
.table td {
  width: 20%;
  padding: 0.85vw;
  text-align: center;
  vertical-align: middle;
}

.table__bgc {
  background-color: #b7beb6;
  color: #001405;
}

.table__ttl {
  margin-bottom: 1.7vw;
  font-size: 2.34375vw;
  letter-spacing: 0.4em;
}

.bd-none {
  border: 0px none;
}

.center {
  vertical-align: middle;
}

.text-13 {
  display: inline-block;
  font-size: 2.03125vw;
  line-height: 1.5 !important;
  letter-spacing: 0.18em;
}

.text-14 {
  font-size: 2.1875vw;
  letter-spacing: 0.2em;
}

.text-14-100 {
  font-size: 2.1875vw;
  letter-spacing: 0.1em;
}

.text-15-400 {
  font-size: 2.34375vw;
  letter-spacing: 0.4em;
}

.text-15-200 {
  font-size: 2.34375vw;
  letter-spacing: 0.2em;
}

.text-16 {
  font-size: 2.5vw;
  letter-spacing: 0.4em;
}

.longBox {
  width: 66.8% !important;
  line-height: 2;
}

.longBox2 {
  line-height: 3;
}

.shortBox {
  width: 33.2% !important;
}

.m0 {
  margin-bottom: 0.15625vw;
}

.table__note {
  width: 88.4375vw;
  margin: 0 auto 1vw;
  font-size: 2.5vw;
  letter-spacing: 0.4em;
}

.res-price__btn1,
.res-price__btn2 {
  margin: 0 auto;
}

.res-price__btn1 {
  margin-top: 15.5vw;
  margin-bottom: 8.1vw;
}

.res-price__btn2 {
  margin-bottom: 10.8vw;
}

.member {
  margin-bottom: 7.8vw;
  font-weight: bold;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
  text-align: center;
}
.member:last-child {
  margin-bottom: 5vw;
}
.member a {
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.member a:hover {
  color: #001405;
}
.member a:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  background: #001405;
  content: "";
  transition: transform 0.2s;
}
.member a:hover:after {
  transform: scale(1, 1);
}

.thumbnail {
  width: 94.53125vw;
  margin: 0 auto;
}

.thumbnail__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 6.5625vw;
  justify-content: space-between;
}

.thumbnail__item {
  position: relative;
  width: 44.375vw;
  height: 27.96875vw;
}

.thumbnail__link:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #001405;
  content: "";
  opacity: 0.17;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=17)";
}
.thumbnail__link img {
  width: 100%;
  height: 100%;
}

.thumbnail__ttl--wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.thumbnail__ttl--en {
  margin-bottom: 0.78125vw;
  font-size: 2.34375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
}

.thumbnail__ttl--ja {
  font-weight: bold;
  font-size: 1.5625vw;
  letter-spacing: 0.1em;
}

.facilities__btn {
  display: block;
  margin: 15.4vw auto 8.59375vw;
  letter-spacing: 0.1em;
}

.btn {
  display: inline-block;
  display: grid;
  place-items: center;
  width: 34.84375vw;
  max-width: 100%;
  height: 5.3125vw;
  border: 1px solid #fff;
  font-size: 2.5vw;
  text-align: center;
  transition: 0.2s;
}
.btn:focus, .btn:hover {
  background-color: #fff;
  color: #6f7d6d;
}

.btn--wh {
  background-color: #fff;
  color: #001405;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.btn--wh:focus, .btn--wh:hover {
  border: 1px solid #6f7d6d;
  background-color: #6f7d6d;
  color: #fff;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/fontawesome/icomoon.ttf?vitycs") format("truetype"), url("../../assets/fonts/fontawesome/icomoon.woff?vitycs") format("woff"), url("../../assets/fonts/fontawesome/icomoon.svg?vitycs#icomoon") format("svg");
  font-family: "icomoon";
  font-display: block;
}
[class^=fa-],
[class*=" fa-"] {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  text-transform: none;
}

.fa-facebook-square:before {
  content: "\f082";
  color: #363636;
  font-size: 30px;
}

.section__ttl {
  position: relative;
  font-weight: bold;
  font-size: 3.4375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.1em;
}
.section__ttl:before {
  z-index: 2;
  position: absolute;
  top: -7.8125vw;
  left: -5.625vw;
  width: 0.15625vw;
  height: 63.70625vw;
  background-color: #fff;
  content: "";
}

.section__subTtl {
  font-size: 2.1875vw;
  letter-spacing: 0.4em;
}

.section__num {
  font-weight: bold;
  font-size: 2.8125vw;
  letter-spacing: 0.4em;
}
.guidance {
  width: 87.5vw;
  margin: 0 auto 18.5vw;
}

.guidance__ttl {
  letter-spacing: 0.4em;
  text-align: center;
}

.guidance__ttl--en {
  margin-bottom: 1.44vw;
  font-size: 3.59375vw;
  font-family: trajan-pro-3, serif;
}

.guidance__ttl--ja {
  margin-bottom: 4.45vw;
  font-size: 2.96875vw;
}

.guidance__img {
  width: 100%;
  height: 45.625vw;
  margin: 0 auto 9.8vw;
  background: url(../../assets/images/guidance.jpg) center center/cover no-repeat;
}

.heading-lv1 {
  margin-bottom: 7.8vw;
  font-weight: bold;
  font-size: 3.125vw;
  letter-spacing: 0.1em;
}

.heading-lv2__wrap {
  margin-bottom: 6.3vw;
}

.heading-lv2 {
  margin-bottom: 2.3vw;
  font-weight: bold;
  font-size: 2.8125vw;
  letter-spacing: 0.1em;
}

.guidance__text {
  font-weight: bold;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
  text-align: justify;
}

.guidance__btn--pc {
  display: none;
}

.guidance__btn1,
.guidance__btn2 {
  margin: 0 auto;
}

.guidance__btn1 {
  margin-bottom: 9.6875vw;
  letter-spacing: 0.2em;
}

.guidance__btn2 {
  margin-bottom: 7.96875vw;
  letter-spacing: 0.1em;
}

.res-price__img--sp {
  width: 100%;
  height: 58.28125vw;
  background: url(../../assets/images/res&price-sp.jpg) center center/cover no-repeat;
}

.res-price__img--pc {
  display: none;
}

.reserve__subTtl {
  margin-bottom: 10.7vw;
}

.price__subTtl {
  margin-bottom: 10.7vw;
}

.pageNav {
  width: 49.53125vw;
  margin: 0 auto 15vw;
}

.pageNav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageNav__item {
  font-weight: bold;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
}
.pageNav__item a {
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.pageNav__item a:hover {
  color: #001405;
}
.pageNav__item a:after {
  position: absolute;
  bottom: -1.09375vw;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  background: #001405;
  content: "";
  transition: transform 0.2s;
}
.pageNav__item a:hover:after {
  transform: scale(1, 1);
}

.sectionHeading {
  text-align: center;
}

.iframe-plan {
  aspect-ratio: 566/551;
  width: 88.5%;
  margin: 0 auto 17.5vw;
  overflow-x: scroll;
}
.iframe-plan iframe {
  width: 150%;
  height: 100%;
}
@media (max-width: 850px){
  .ly-width{
    width: min(100% - 300px , 1200px);
    margin-inline: auto;
  }
  .br{
    display: block;
  }
  #hamburger,
.hamburger__bar{
    display: block;
  }
  .media{
    grid-template-columns: auto;
  }
  .media__reverse .media__img{
    order: inherit;
  }
}
@media not all and (max-width: 850px){
  #footer{
    display: block;
    height: 209px;
    padding-top: 67px;
    background-color: #fff;
    text-align: center;
  }
  .footerNav{
    display: block;
  }
  .footerNav .menu{
    display: grid;
    grid-template-columns: repeat(10, auto);
    justify-content: space-between;
    max-width: 979px;
    margin: 0 auto 8px;
    padding: 0 10px;
    color: #363636;
    font-size: 12px;
    font-family: NotoSans;
    letter-spacing: 0.05em;
  }
  .copyright__txt{
    font-size: 12px;
  }
  .sns{
    display: inline-block;
    margin-bottom: 24px;
    transition: 0.2s;
  }
  .sns:hover{
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }
  .globalNav{
    display: block;
    background-color: #6f7d6d;
  }
  .about{
    padding-top: 230px;
  }
  .about__ttl{
    margin-bottom: 25px;
    padding-top: 32px;
  }
  .accordion{
    width: 850px;
    margin: 0 0 0 auto;
    margin-bottom: 131px;
  }
  .accordion__list{
    margin-bottom: 0;
  }
  .accordion__section{
    border-bottom: 1px solid #ccc;
  }
  .accordion__title{
    padding: 3% 3% 0.6% 5%;
    font-size: 1.25rem;
  }
  .accordion__title--ja,
.accordion__text{
    font-size: 1rem;
  }
  .accordion__title--ja{
    margin-left: 9px;
  }
  .accordion__title:before{
    top: 65.5%;
    left: 2%;
    width: 0;
    height: 0;
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  .accordion__title:before:hover{
    border-width: 7px 7px 0 7px;
    border-color: #000 transparent transparent transparent;
  }
  .accordion__box{
    margin-top: 10px;
    margin-bottom: -2px;
    padding: 0 50px 10px 30px;
  }
  .card{
    display: grid;
    grid-template-areas: "a" "b" "c";
    margin-bottom: 65px;
  }
  .card__ttl{
    grid-area: a;
    min-height: 32px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .card__figure{
    grid-area: c;
    width: 242px;
    height: 183px;
    margin-bottom: 0;
  }
  .card__link:before{
    top: 50%;
    left: 122px;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  .card__link:before:hover{
    border-width: 7px 7px 0 7px;
    border-color: #000 transparent transparent transparent;
  }
  .card__link:after{
    bottom: -6px;
    width: 100%;
    height: 1px;
  }
  .card__link{
    grid-area: b;
    margin-bottom: 30px;
    padding-right: 15px;
    font-size: 16px;
  }
  .card__link:hover:after{
    background-color: #001405;
  }
  .card__link:hover:before{
    width: 0;
    height: 0;
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
  }
  .card__link:hover a{
    color: #001405;
  }
  .card__item4{
    display: none;
  }
  .cards{
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    padding-right: 0;
    gap: 20px;
  }
  .eventInfo{
    padding-bottom: 172px;
    text-align: center;
  }
  .eventInfo__inner{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .eventInfo__num{
    margin-bottom: 31px;
  }
  .eventInfo__ttl{
    margin-bottom: 19px;
    font-weight: bold;
    font-size: 22px;
  }
  .eventInfo__subTtl{
    margin-bottom: 90px;
    font-size: 14px;
  }
  .eventInfo__btn{
    display: block;
    position: relative;
    margin: 0 0 0 auto;
    border: none;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: right;
    text-align: right;
  }
  .eventInfo__btn:after{
    position: absolute;
    top: 34px;
    right: 0;
    width: 460px;
    height: 1px;
    background-color: #fff;
    content: "";
    transition: 0.2s;
  }
  .eventInfo__btn:hover{
    background-color: #6f7d6d;
    color: #001405;
  }
  .eventInfo__btn:hover:after{
    background-color: #001405;
  }
  .globalNav-2{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    padding-top: 19px;
    padding-right: 41px;
    padding-left: 38px;
  }
  .pageLogo-pc{
    width: 217px;
  }
  .mainVisual{
    height: 491px;
  }
  .mainVisual__txtWrap{
    top: 70%;
  }
  .slider-1__item01{
    background: url(../../assets/images/TOP/mainvisual-pc.jpg);
  }
  .slider-1__item{
    height: 491px;

    /*背景画像をリピートしない*/
    background-position: center;
    background-size: cover;

    /*背景画像が.slider-item全体を覆い表示*/
    background-repeat: no-repeat;

    /*背景画像の位置を中央に*/
  }
  .siteTtl{
    margin-bottom: 115px;
    font-size: 26px;
  }
  .siteLogo{
    width: 186px;
  }
  .reservationBtn{
    display: none;
  }
  .pageVisual{
    margin-bottom: 102px;
  }
  .pageVisual--res-price{
    margin-bottom: 65px;
  }
  .pageVisual__inner{
    padding-top: 71px;
  }
  .pageVisual__img--sp{
    display: none;
  }
  .pageVisual__img--pc{
    display: block;
    width: 100%;
    height: 373px;
    background: url(../../assets/images/pageVisual-pc.jpg) center center/cover no-repeat;
  }
  .pageVisual__textWrap{
    left: 50%;
    width: 100%;
    max-width: 1060px;
    padding: 0 80px;
    transform: translateX(-50%);
  }
  .pageVisual__text--en:before{
    top: 44px;
    left: -36px;
    width: 1px;
    height: 407.72px;
  }
  .pageVisual__text--en{
    width: 900px;
    margin: 0 auto 19px;
    padding-top: 71px;
    padding-left: 35px;
    font-size: 1.25rem;
  }
  .pageVisual__text--ja{
    width: 900px;
    margin: 0 auto 95px;
    padding-left: 0px;
    font-size: 0.875rem;
  }
  .conteTtl{
    margin-bottom: 87px;
    font-size: 1.375rem;
  }
  .faci-postsWrap{
    width: 100%;
    max-width: 940px;
    padding: 0 20px;
  }
  .faci-posts__item{
    margin-bottom: 0;
  }
  .faci-post__figure{
    width: 100%;
    height: 470px;
    margin-bottom: 48px;
  }
  .faci-post__body{
    width: 100%;
  }
  .faci-post__excerpt{
    width: 738px;
    margin: 0 auto 92px;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .postsWrap{
    width: 100%;
    max-width: 850px;
    padding: 0 20px;
  }
  .posts__item{
    margin-bottom: 150px;
  }
  .brandLogo{
    display: none;
  }
  .pageTtl__en:before{
    top: 134px;
    left: -34px;
    width: 1px;
    height: 407px;
  }
  .pageTtl__en{
    width: 850px;
    margin: 0 auto 16px;
    padding-top: 166px;
    padding-left: 5px;
    font-size: 2rem;
  }
  .pageTtl__ja{
    width: 850px;
    margin: 0 auto 95px;
    padding-left: 0px;
    font-size: 1.25rem;
  }
  .post{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }
  .post__figure{
    width: 423px;
    height: 282px;
    margin-bottom: 0;
  }
  .post__body{
    width: 332px;
    height: auto;
  }
  .post__date{
    margin-bottom: 26px;
    font-size: 0.75rem;
  }
  .post__week{
    margin-left: 5px;
  }
  .post__excerpt{
    margin-bottom: 75px;
    font-size: 1.25rem;
    line-height: 1.65;
    letter-spacing: 0.2em;
  }
  .post__link:before{
    top: 50%;
    left: 117px;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  .post__link:before:hover{
    border-width: 7px 7px 0 7px;
    border-color: #000 transparent transparent transparent;
  }
  .post__link:after{
    bottom: -5px;
    width: 100%;
    height: 1px;
    margin-top: 0;
  }
  .post__link{
    width: 242px;
    margin-bottom: 0;
    font-size: 1rem;
  }
  .post__link:hover:after{
    background-color: #001405;
  }
  .post__link:hover:before{
    width: 0;
    height: 0;
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
  }
  .post__link:hover{
    color: #001405;
  }
  .posts__btn{
    margin-top: 142px;
    margin-bottom: 91px;
    margin-left: 340px;
  }
  .slider-2{
    width: 1140px;
    height: 716px;
    margin: 0 0 0 auto;
    background: url(../../assets/images/TOP/golf-course-pc.jpg);
  }
  .slider-2__item{
    padding-left: 250px;
  }
  .slider-2__ttl{
    margin-bottom: 24px;
    padding-top: 38px;
    font-size: 25px;
  }
  .slider-2__subTtl{
    margin-bottom: 69px;
    font-weight: bold;
    font-size: 17px;
  }
  .slider-2__text{
    margin-bottom: 44px;
    font-size: 14px;
    line-height: 1.7142857143;
  }
  .slider-2__point{
    display: block;
    width: 891px;
  }
  .slider-3 .slick-dots{
    top: -688px;
    margin: -50px 0 0 0;
  }
  .slider-3 .slick-dots li{
    width: 47px;
    height: 5px;
  }
  .slider-3 .slick-dots li button:before{
    height: 1px;
  }
  .table-grid{
    display: grid;
    grid-template-columns: repeat(2, 438px);
    grid-auto-flow: dense;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .order1{
    order: 1;
  }
  .order2{
    order: 2;
  }
  .order3{
    order: 3;
  }
  .order4{
    order: 4;
  }
  .order5{
    order: 5;
  }
  .order6{
    order: 6;
  }
  .order7{
    order: 7;
  }
  .order8{
    order: 8;
  }
  .order9{
    order: 9;
  }
  .table{
    width: 438px;
    margin-bottom: 55px;
  }
  tbody,
td,
th{
    width: 438px;
    border: 1px solid #fff;
  }
  .table th,
.table td{
    padding: 8.7px 0;
  }
  .table__ttl{
    margin-bottom: 18px;
    font-size: 0.6875rem;
  }
  .text-13{
    font-size: 0.6875rem;
    letter-spacing: 0.1em;
  }
  .lh{
    line-height: 3 !important;
  }
  .text-14{
    font-size: 0.6875rem;
  }
  .text-14-100{
    font-size: 0.6875rem;
  }
  .text-15-400{
    font-size: 0.6875rem;
  }
  .text-15-200{
    font-size: 0.6875rem;
  }
  .text-16{
    font-size: 0.6875rem;
  }
  .m0{
    margin-bottom: 1px;
  }
  .table__note--wrap{
    margin-top: -101px;
  }
  .table__note{
    width: 900px;
    margin-bottom: 3px;
    font-size: 0.875rem;
  }
  .res-price__btn--wrap{
    display: flex;
    justify-content: space-between;
    width: 770px;
    margin: 185px auto 111px;
  }
  .res-price__btn1{
    margin: 0;
  }
  .res-price__btn2{
    margin: 0;
  }
  .member{
    margin-bottom: 50px;
    font-size: 1rem;
  }
  .member:last-child{
    margin-bottom: 100px;
  }
  .h78{
    height: 78px;
  }
  .mt1{
    height: 143px;
    margin-top: -173px;
  }
  .mt2{
    height: 107px;
    margin-top: -295px;
  }
  .thumbnail{
    width: 100%;
    max-width: 940px;
    padding: 0 20px;
  }
  .thumbnail__list{
    column-gap: 20px;
    row-gap: 62px;
  }
  .thumbnail__item{
    width: 100%;
    max-width: 422px;
    height: 266px;
  }
  .thumbnail__ttl--en{
    margin-bottom: 8px;
    font-size: 1.3125rem;
  }
  .thumbnail__ttl--ja{
    font-size: 0.875rem;
  }
  .facilities__btn{
    margin-top: 166px;
    margin-bottom: 98px;
    text-align: center;
  }
  .btn{
    width: 223px;
    height: 34px;
    font-weight: bold;
    font-size: 16px;
  }
  .btn--wh{
    display: none;
  }
  .section__ttl:before{
    width: 1px;
    height: 407.72px;
  }
  .section__ttl{
    font-size: 1.375rem;
    letter-spacing: 0.4em;
  }
  .section__subTtl{
    font-size: 0.875rem;
  }
  .section__num{
    font-weight: bold;
    font-size: 1.125rem;
  }
  .guidance{
    width: 100%;
    max-width: 940px;
    margin-bottom: 168px;
    padding: 0 20px;
  }
  .guidance__ttl{
    padding-top: 125px;
  }
  .guidance__ttl--en{
    margin-bottom: 14px;
    font-size: 32px;
  }
  .guidance__ttl--ja{
    margin-bottom: 70px;
    font-size: 20px;
  }
  .guidance__img{
    height: 470px;
    margin-bottom: 58px;
  }
  .heading-lv1{
    width: 800px;
    margin: 0 auto 48px;
    font-size: 20px;
    text-align: center;
  }
  .heading-lv2__wrap{
    width: 800px;
    margin: 0 auto 64px;
  }
  .heading-lv2{
    margin-bottom: 15px;
    font-size: 18px;
  }
  .guidance__text{
    font-size: 16px;
  }
  .guidance__btn--pc{
    display: block;
  }
  .guidance__btn1{
    display: none;
  }
  .guidanceInfo{
    padding-left: 0;
  }
  .res-price__img--sp{
    display: none;
  }
  .res-price__img--pc{
    display: block;
    width: 100%;
    height: 373px;
    background: url(../../assets/images/res&price-pc.jpg) center center/cover no-repeat;
  }
  .reserve__subTtl{
    margin-bottom: 53px !important;
  }
  .price__subTtl{
    margin-bottom: 82px !important;
  }
  .pageNav{
    width: 314px;
    margin-bottom: 94px;
  }
  .pageNav__item{
    font-size: 1rem;
  }
  .iframe-plan{
    width: 100%;
    max-width: 920px;
    height: 574px;
    margin-bottom: 159px;
    padding: 0 20px;
  }
}
@media not all and (max-width: 1200px){
  .slider-2{
    width: 95vw;
    height: 59.6666666667vw;

    /*背景画像をリピートしない*/
    background-position: center;

    /*背景画像の位置を中央に*/
    background-size: cover;
    background-repeat: no-repeat;

    /*背景画像が.slider-item全体を覆い表示*/
  }
  .slider-2__point{
    width: 74.25vw;
  }
}
@media not all and (max-width: 767px){
  a[href*="tel:"]{
    cursor: default;
    pointer-events: none;
  }
}
/*# sourceMappingURL=main.css.map */
