@charset "UTF-8";


body {
  min-height: 100vh;
  font-family: YuMincho, Yu Mincho, 游明朝体, sans-serif;
}

.main {
  color: #fff;
}

.no-js .lazy {
  display: none;
}

.contents-layout {
  display: flex;
  row-gap: 100px;
  flex-direction: column;
  padding-bottom: 100px;
}

.br {
  display: none;
}

/* reset.cssここから */
*,
:before,
:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  text-rendering: optimizeSpeed;
  margin: 0;
  line-height: 1.5;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  overflow: visible;
  border: 0;
}

pre {
  font-size: inherit;
  font-family: monospace, monospace;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  vertical-align: middle;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

option {
  padding: 0;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable] {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  text-align: left;
}

/* reset.cssここまで */
@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Noto-sans/NotoSans400-subset.woff") format("woff");
  font-family: "NotoSans";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/Noto-sans/NotoSans700-subset.woff") format("woff");
  font-family: "NotoSans";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Noto-serif/NotoSerif400-subset.woff") format("woff");
  font-family: "NotoSerif";
  font-display: swap;
}
/*
下記のような形で複数指定できる
    src: url('../font/notosans_medium.ttf') format('truetype'),
    url('../font/notosans_medium.woff') format('woff'),
    url('../font/notosans_bold.ttf') format('truetype'),
    url('../font/notosans_bold.woff') format('woff');
*/
#footer {
  display: grid;
  place-items: center;
  height: 14.0625vw;
  background-color: #fff;
}

.footerNav {
  display: none;
}
.footerNav .menu__item a {
  position: relative;
}
.footerNav .menu__item a:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  background: #001405;
  content: "";
  transition: transform 0.2s;
}
.footerNav .menu__item a:hover:after {
  transform: scale(1, 1);
}

.copyright__txt {
  color: #363636;
  font-size: 1.875vw;
  font-family: Arimo, sans-serif;
  letter-spacing: 0.06em;
}

.sns {
  display: none;
}

#header {
  width: 100%;
}

.globalNav {
  display: none;
}
.globalNav .menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  width: 900px;
  height: 34px;
  margin: 0 auto;
  padding-top: 82px;
  gap: 2em;
}
.globalNav .menu__item {
  display: grid;
  place-items: center;
  font-size: 16px;
  font-size: 1rem;
}
.globalNav .menu__item a {
  display: inline-block;
  position: relative;
  color: #fff;
  transition: 0.2s;
}
.globalNav .menu__item a:hover {
  color: #001405;
}
.globalNav .menu__item a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  background: #001405;
  content: "";
  transition: transform 0.2s;
}
.globalNav .menu__item a:hover:after {
  transform: scale(1, 1);
}
.globalNav .menu__item--box {
  display: grid;
  place-items: center;
  width: 223px;
  height: 34px;
  margin-left: 39px;
  border: 1px solid #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.globalNav .menu__item--box a {
  display: grid;
  place-items: center;
  width: 223px;
  height: 34px;
  color: #fff;
  transition: 0.2s;
}
.globalNav .menu__item--box a:hover {
  background-color: #fff;
  color: #6f7d6d;
}
.globalNav .menu__item--s {
  font-size: 12px;
}

.globalNav--sp {
  display: grid;
  z-index: 20;
  position: fixed;
  top: 0;
  right: -120%;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #6f7d6d;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: 0.2s;
}
.globalNav--sp .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  line-height: 20vw;
  letter-spacing: 1.5vw;
}
.globalNav--sp .menu__item a {
  color: #ebebeb;
}

.js-slideIn {
  right: 0;
}

.about {
  padding-top: 28.125vw;
  padding-bottom: 20vw;
  padding-left: 3.125vw;
  background-color: #6f7d6d;
}

.about__ttl {
  margin-bottom: 4.6875vw;
  margin-left: 8.4375vw;
  padding-top: 1.5625vw;
}

.about__subTtl {
  margin-bottom: 4.6875vw;
  margin-left: 8.4375vw;
}

.access {
  width: 74.0625vw;
  margin: 0 auto;
  padding-top: 9.84375vw;
  background-color: #fff;
  color: #001405;
  text-align: center;
}

.access__num {
  margin-bottom: 4.6875vw;
}

.access__ttl {
  margin-bottom: 2.65625vw;
  font-size: 3.4375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
}

.access__subTtl {
  margin-bottom: 12.5vw;
  font-size: 2.5vw;
  letter-spacing: 0.4em;
}

.address {
  font-size: 2.5vw;
  letter-spacing: 0.4em;
}

.address__ttl {
  margin-bottom: 4.6875vw;
}

.address__tel {
  display: inline-block;
  display: grid;
  position: relative;
  place-items: center;
  width: 74.0625vw;
  height: 11.25vw;
  margin: 0 auto;
  margin-top: 9.375vw;
  margin-bottom: 3.4375vw;
  border: 1px solid #6f7d6d;
  color: #6f7d6d;
  font-size: 5.3125vw;
  letter-spacing: 0.1em;
}
.address__tel:before {
  display: inline-block;
  position: absolute;
  left: 9%;
  width: 7.5vw;
  height: 6.71875vw;
  background-image: url(../../assets/images/tel-icon.png);
  background-size: contain;
  content: "";
  vertical-align: middle;
}

.access__btn {
  position: relative;
  margin-bottom: 9.375vw;
  margin-left: 1.40625vw;
  padding-left: 1.5625vw;
  color: #6f7d6d;
  font-weight: bold;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
  text-align-last: left;
}
.access__btn:before {
  position: absolute;
  top: 1vw;
  left: -0.46875vw;
  width: 0;
  height: 0;
  transform: translateX(-50%) rotate(-90deg);
  border-width: 1.09vw 1.09375vw 0 1.09375vw;
  border-style: solid;
  border-color: #6f7d6d transparent transparent transparent;
  content: "";
  color: #6f7d6d;
}

.map1 {
  margin-bottom: 8.59375vw;
}

.map2 {
  margin-bottom: 1.875vw;
}

.accordion {
  margin: 0 auto;
  margin-bottom: 20.625vw;
  list-style: none;
}

.accordion__list {
  margin-bottom: 5.46875vw;
}

.accordion__section {
  border-bottom: 0.15625vw solid #ccc;
}

.accordion__title {
  position: relative;
  padding: 3% 3% 2% 9%;
  font-size: 3.125vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
  cursor: pointer;
  transition: all 0.5s ease;
}

.accordion__title--ja,
.accordion__text {
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.accordion__title--ja {
  margin-left: 1em;
}

.accordion__title:before {
  position: absolute;
  top: 52%;
  left: 4%;
  width: 0;
  height: 0;
  transform: translateY(-50%) rotate(-90deg);
  border-width: 1.09vw 1.09375vw 0 1.09375vw;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  content: "";
  transition: 0.2s;
}

.accordion__title.close:before {
  transform: rotate(-45deg);
}

.accordion__box {
  display: none;
  margin: 0 3% 3% 3%;
  padding: 3%;
  background: #f3f3f3;
}

.card {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 10.3vw;
  color: inherit;
  text-decoration: none;
}

.card__ttl {
  margin-bottom: 2.5vw;
  font-size: 2.5vw;
  letter-spacing: 0.2em;
}

.card__figure {
  width: 45.46875vw;
  height: 28.59375vw;
  margin-bottom: 2.4vw;
  text-align: center;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.card__link {
  position: relative;
  font-weight: bold;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
  text-align: right;
}
.card__link:before {
  position: absolute;
  top: 1vw;
  left: 28.5vw;
  width: 0;
  height: 0;
  transform: translateX(-50%) rotate(-90deg);
  border-width: 1.09vw 1.09375vw 0 1.09375vw;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  content: "";
  transition: 0.2s;
}
.card__link:after {
  position: absolute;
  right: 0;
  bottom: -0.6vw;
  width: 37.8125vw;
  height: 0.15625vw;
  background-color: #fff;
  content: "";
  transition: 0.2s;
}
.card__link a {
  transition: 0.2s;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-right: 3.125vw;
  gap: 2.34375vw;
}

.eventInfo {
  padding-bottom: 12.5vw;
  padding-left: 3.125vw;
  background-color: #6f7d6d;
}

.eventInfo__num {
  margin-bottom: 4.6875vw;
}

.eventInfo__ttl {
  margin-bottom: 2.65625vw;
  font-size: 3.4375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
}

.eventInfo__subTtl {
  margin-bottom: 12.5vw;
  font-size: 2.5vw;
  letter-spacing: 0.4em;
}

.eventInfo__btn {
  margin: 0 auto;
}

.globalNav-2 {
  display: none;
}
.globalNav-2 .menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  width: 443px;
}
.globalNav-2 .menu__item {
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.globalNav-2 .menu__item a {
  display: inline-block;
  position: relative;
  color: #fff;
  transition: 0.2s;
}
.globalNav-2 .menu__item a:hover {
  color: #001405;
}
.globalNav-2 .menu__item a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  background: #001405;
  content: "";
  transition: transform 0.2s;
}
.globalNav-2 .menu__item a:hover:after {
  transform: scale(1, 1);
}
.globalNav-2 .menu__item--s {
  font-weight: normal;
  font-size: 12px;
}

#hamburger,
.hamburger__bar {
  box-sizing: border-box;
  display: inline-block;
  display: none;
  transition: all 0.2s;
}

#hamburger {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 30;
  position: absolute;
  top: 3.125vw;
  left: 3.125vw;
  width: 4.6875vw;
  height: 3.125vw;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger__bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.15625vw;
  background-color: #fff;
}

.barTop {
  top: 0%;
}

.barMiddle {
  top: 50%;
}

.barBottom {
  top: 100%;
}

#hamburger.active .barTop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#hamburger.active .barMiddle {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#hamburger.active .barBottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.no-scroll {
  overflow: hidden;
}

.imageBanner {
  position: relative;
  width: 100%;
  height: 500px;
}
.imageBanner:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 123, 236, 0.425);
  content: "";
}

.imageBanner__img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imageBanner__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainVisual {
  position: relative;
  height: 100vh;
}

.mainVisual__txtWrap {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.slider-1 {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

.slider-1__item01 {
  background: url(../../assets/images/TOP/mainvisual-sp.jpg);
}

.slider-1__item02 {
  background: url(../../assets/images/TOP/golf-course-sp.jpg);
}

.slider-1__item03 {
  background: url(../../assets/images/TOP/golf-originalCourse.jpg);
}

.slider-1__item {
  width: 100%;
  /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 100vh;
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;
  /*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  /*絶対配置にする*/
  z-index: 3;
  position: absolute;
  top: 42%;
  width: 25px;
  /*矢印の色*/
  height: 25px;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #ccc;
  /*矢印の色*/
  border-right: 2px solid #ccc;
  /*マウスカーソルを指マークに*/
  outline: none;
  cursor: pointer;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  z-index: 3;
  position: relative;
  top: 10%;
  margin: -50px 0 0 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  /*ドットボタンのサイズ*/
  display: block;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  border-radius: 50%;
  outline: none;
  background: #ccc;
  color: transparent;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

.siteTtl {
  margin-bottom: 17.96875vw;
  color: #fff;
  font-size: 4.0625vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
  text-align: center;
}

.siteLogo {
  text-align: center;
}

.reservationBtn {
  z-index: 999;
  position: fixed;
  bottom: 14.84375vw;
  width: 15.625vw;
  height: 32.34375vw;
  background-color: #6f7d6d;
  box-shadow: 0 0.46875vw 0.9375vw #1f1e1e;
}
.reservationBtn a {
  display: grid;
  position: relative;
  place-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 3.4375vw;
  letter-spacing: 0.4em;
  writing-mode: vertical-rl;
}
.reservationBtn a:before {
  position: absolute;
  top: 5.15625vw;
  left: 51%;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  border-width: 1.09vw 1.09375vw 0 1.09375vw;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  content: "";
}

.googleMap {
  aspect-ratio: 16/9;
  max-width: 1000px;
}
.googleMap iframe {
  width: 100%;
  height: 100%;
}

.media {
  display: grid;
  position: relative;
  align-items: center;
  padding-bottom: 21.875vw;
  padding-left: 3.125vw;
  background-color: #6f7d6d;
}
.media:before {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 2.65625vw;
  width: 0.15625vw;
  height: 63.70625vw;
  transform: translateY(-50%);
  background-color: #fff;
  content: "";
}

.media__body {
  padding-left: 6.71875vw;
}

.media__ttl {
  margin-bottom: 10vw;
  font-weight: bold;
  font-size: 2.8125vw;
  letter-spacing: 0.4em;
}

.media__img {
  width: 80.15625vw;
  height: 48.59375vw;
  margin: 0 0 0 auto;
}
.media__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media__text {
  margin-bottom: 5.46875vw;
  font-size: 2.5vw;
  letter-spacing: 0.2em;
}

.media__num {
  margin-bottom: 10vw;
}

.media__reverse .media__img {
  order: 2;
}

.media__btn {
  margin-top: 9.375vw;
}

.pageVisual {
  position: relative;
  margin-bottom: 14.0625vw;
}

.pageVisual__img--pc {
  width: 100%;
  height: 58.28125vw;
  background: url(../../assets/images/pageVisual-sp.jpg) center center/cover no-repeat;
}

.pageVisual__textWrap {
  position: absolute;
  top: 20%;
  left: 0;
}

.pageVisual__text--en:before {
  top: -17vw !important;
  height: 33.8046875vw !important;
}

.conteTtl {
  margin-bottom: 13.59375vw;
  font-size: 3.125vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
  text-align: center;
}

.facilities__post .post__figure {
  margin-bottom: 5.78125vw;
}

.postContainer {
  background-color: #6f7d6d;
  color: #fff;
}

.postsWrap {
  width: 84.0625vw;
  margin: 0 auto;
}

.posts__item {
  margin-bottom: 26.5625vw;
}

.brandLogo {
  margin-bottom: 6.8vw;
  padding-top: 6.25vw;
  text-align: center;
}

.pageTtl__en {
  position: relative;
  margin-bottom: 2vw;
  padding-left: 10.5vw;
  font-size: 3.59375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
}
.pageTtl__en:before {
  position: absolute;
  top: -5vw;
  left: 5.5vw;
  width: 0.15625vw;
  height: 39.0625vw;
  background-color: #fff;
  content: "";
}

.pageTtl__ja {
  margin-bottom: 12vw;
  padding-left: 10.3125vw;
  font-size: 2.96875vw;
  letter-spacing: 0.4em;
}

.post__figure {
  width: 84.0625vw;
  height: 44.0625vw;
  margin-bottom: 2.7vw;
}

.post__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__date {
  display: block;
  margin-bottom: 2.7vw;
  font-size: 1.875vw;
  font-family: NotoSans;
  letter-spacing: 0.05em;
}

.post__week {
  margin-left: 0.78125vw;
}

.post__excerpt {
  margin-bottom: 4.6vw;
  font-size: 2.5vw;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: justify;
}

.post__link {
  display: block;
  position: relative;
  width: 37.8125vw;
  margin: 0 0 0 auto;
  font-weight: bold;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
  text-align: right;
  transition: 0.2s;
}
.post__link:before {
  position: absolute;
  top: 1.2vw;
  left: 18.5vw;
  width: 0;
  height: 0;
  transform: translateX(-50%) rotate(-90deg);
  border-width: 1.09vw 1.09375vw 0 1.09375vw;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  content: "";
  transition: 0.2s;
}
.post__link:after {
  position: absolute;
  right: 0;
  bottom: -1vw;
  width: 37.8125vw;
  height: 0.15625vw;
  margin-top: 3.125vw;
  background-color: #fff;
  content: "";
  transition: 0.2s;
}
.post__link a {
  transition: 0.2s;
}

.posts__btn {
  display: block;
  margin: 0 auto;
  margin-top: 34.7vw;
  margin-bottom: 7.1875vw;
}

.slider-2 {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  /*背景画像が.slider-item全体を覆い表示*/
  background: url(../../assets/images/TOP/golf-course-sp.jpg);
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;
}

.slider-2__item {
  position: absolute;
  top: 50%;
  padding-left: 8.4375vw;
  transform: translateY(-50%);
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  /*絶対配置にする*/
  z-index: 3;
  position: absolute;
  top: 42%;
  width: 25px;
  /*矢印の色*/
  height: 25px;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #ccc;
  /*矢印の色*/
  border-right: 2px solid #ccc;
  /*マウスカーソルを指マークに*/
  outline: none;
  cursor: pointer;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  z-index: 3;
  position: relative;
  top: 10%;
  margin: -50px 0 0 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  /*ドットボタンのサイズ*/
  display: block;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  border-radius: 50%;
  outline: none;
  background: #ccc;
  color: transparent;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

.slider-2__ttl {
  margin-bottom: 5.46875vw;
  padding-top: 46.875vw;
  font-weight: bold;
  font-size: 3.90625vw;
  letter-spacing: 0.4em;
}

.slider-2__subTtl {
  margin-bottom: 20.3125vw;
  font-weight: normal;
  font-size: 2.65625vw;
  letter-spacing: 0.4em;
}

.slider-2__text {
  width: 63.28125vw;
  margin-bottom: 10.15625vw;
  font-weight: normal;
  font-size: 2.1875vw;
  letter-spacing: 0.2em;
}

.slider-2__point {
  display: none;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.tab__link {
  display: block;
  margin: 0 2px;
  padding: 10px 20px;
  background: #ddd;
}

.tab__list.active .tab__link {
  background: #a03535;
}

.tabConte {
  display: none;
  padding: 50px 20px;
  background: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.tabConte.is-active {
  display: block;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: displayAnime;
}

@keyframes displayAnime {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
.table {
  border-collapse: collapse;
  text-align: left;
}

tr {
  vertical-align: top;
}

th {
  width: 30%;
  padding: 10px 0;
  padding-left: 10px;
  border-bottom: 1px solid #b6bbc0;
}

td {
  width: 70%;
  padding: 10px 0;
  padding-left: 20px;
  border-bottom: 1px solid #b6bbc0;
}

table:not(.lv2-table) {
  width: 800px;
}

.lv2-table {
  width: 100%;
  margin-left: 10px;
}

.lv2-table > tbody > tr > th {
  width: auto;
  border-bottom: none;
}

.lv2-table > tbody > tr > td {
  width: auto;
  padding-left: 10px;
  border-bottom: none;
}

.td-has-table {
  padding: 0;
}

.area {
  background-color: rgba(212, 221, 228, 0.5);
}

.thumbnail {
  width: 94.53125vw;
  margin: 0 auto;
}

.thumbnail__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 6.5625vw;
  justify-content: space-between;
}

.thumbnail__item {
  position: relative;
  width: 44.375vw;
  height: 27.96875vw;
}

.thumbnail__link:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #001405;
  content: "";
  opacity: 0.17;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=17)";
}
.thumbnail__link img {
  width: 100%;
  height: 100%;
}

.thumbnail__ttl--wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.thumbnail__ttl--en {
  font-size: 2.34375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.4em;
}

.thumbnail__ttl--ja {
  font-weight: bold;
  font-size: 1.5625vw;
  letter-spacing: 0.1em;
}

.facilities__btn {
  margin-top: 16.875vw;
  margin-bottom: 8.59375vw;
}

.btn {
  display: inline-block;
  display: grid;
  place-items: center;
  width: 34.84375vw;
  max-width: 100%;
  height: 5.3125vw;
  border: 1px solid #fff;
  font-size: 2.5vw;
  text-align: center;
  transition: 0.2s;
}
.btn:focus, .btn:hover {
  background-color: #fff;
  color: #6f7d6d;
}

.btn--wh {
  background-color: #fff;
  color: #001405;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.btn--wh:focus, .btn--wh:hover {
  border: 1px solid #6f7d6d;
  background-color: #6f7d6d;
  color: #fff;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/fontawesome/icomoon.ttf?vitycs") format("truetype"), url("../../assets/fonts/fontawesome/icomoon.woff?vitycs") format("woff"), url("../../assets/fonts/fontawesome/icomoon.svg?vitycs#icomoon") format("svg");
  font-family: "icomoon";
  font-display: block;
}
[class^=fa-],
[class*=" fa-"] {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  text-transform: none;
}

.fa-line:before {
  content: "\e900";
}

.fa-instagram-square:before {
  content: "\e055";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-facebook-square:before {
  content: "\f082";
  color: #363636;
  font-size: 30px;
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-pinterest:before {
  content: "\f0d2";
}

.fa-pinterest-square:before {
  content: "\f0d3";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-facebook-f:before {
  content: "\f39e";
}

.fa-search:before {
  content: "\f002";
}

.fa-check:before {
  content: "\f00c";
}

.fa-times:before {
  content: "\f00d";
}

.fa-search-plus:before {
  content: "\f00e";
}

.fa-search-minus:before {
  content: "\f010";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-plus1:before {
  content: "\f067";
}

.fa-minus1:before {
  content: "\f068";
}

.fa-chevron-up:before {
  content: "\f077";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-arrow-circle-left:before {
  content: "\f0a8";
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
}

.fa-arrow-circle-up:before {
  content: "\f0aa";
}

.fa-arrow-circle-down:before {
  content: "\f0ab";
}

.fa-bars:before {
  content: "\f0c9";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-caret-left:before {
  content: "\f0d9";
}

.fa-caret-right:before {
  content: "\f0da";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-angle-double-left:before {
  content: "\f100";
}

.fa-angle-double-right:before {
  content: "\f101";
}

.fa-angle-double-up:before {
  content: "\f102";
}

.fa-angle-double-down:before {
  content: "\f103";
}

.fa-angle-left:before {
  content: "\f104";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-angle-up:before {
  content: "\f106";
}

.fa-angle-down:before {
  content: "\f107";
}

.fa-info:before {
  content: "\f129";
}

.fa-chevron-circle-left:before {
  content: "\f137";
}

.fa-chevron-circle-right:before {
  content: "\f138";
}

.fa-chevron-circle-up:before {
  content: "\f139";
}

.fa-chevron-circle-down:before {
  content: "\f13a";
}

.fa-check-square:before {
  content: "\f14a";
}

.fa-thumbs-up:before {
  content: "\f164";
}

.fa-thumbs-down:before {
  content: "\f165";
}

.fa-male:before {
  content: "\f183";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-child:before {
  content: "\f1ae";
}

.fa-cart-plus:before {
  content: "\f217";
}

.fa-cart-arrow-down:before {
  content: "\f218";
}

.fa-long-arrow-alt-down:before {
  content: "\f309";
}

.fa-long-arrow-alt-left:before {
  content: "\f30a";
}

.fa-long-arrow-alt-right:before {
  content: "\f30b";
}

.fa-long-arrow-alt-up:before {
  content: "\f30c";
}

.fa-expand-arrows-alt:before {
  content: "\f31e";
}

.fa-arrows-alt-h:before {
  content: "\f337";
}

.fa-arrows-alt-v:before {
  content: "\f338";
}

.fa-arrow-alt-circle-down:before {
  content: "\f358";
}

.fa-arrow-alt-circle-left:before {
  content: "\f359";
}

.fa-arrow-alt-circle-right:before {
  content: "\f35a";
}

.fa-arrow-alt-circle-up:before {
  content: "\f35b";
}

.fa-external-link-alt:before {
  content: "\f35d";
}

.fa-exchange-alt:before {
  content: "\f362";
}

.fa-reply1:before {
  content: "\f3e5";
}

.fa-greater-than:before {
  content: "\f531";
}

.fa-less-than:before {
  content: "\f536";
}

.fa-tenge:before {
  content: "\f7d7";
}

.fa-phone-alt:before {
  content: "\f879";
}

.fa-phone-square-alt:before {
  content: "\f87b";
}

.fa-heart1:before {
  content: "\f004";
}

.fa-star:before {
  content: "\f005";
}

.fa-envelope1:before {
  content: "\f0e1";
}

.fa-plus-square:before {
  content: "\f0fe";
}

.fa-minus-square:before {
  content: "\f146";
}

.fa-check-square1:before {
  content: "\f14b";
}

.fa-thumbs-up1:before {
  content: "\f166";
}

.fa-thumbs-down1:before {
  content: "\f168";
}

.fa-envelope-open:before {
  content: "\f2b6";
}

.fa-arrow-alt-circle-down1:before {
  content: "\f35c";
}

.fa-arrow-alt-circle-left1:before {
  content: "\f35e";
}

.fa-arrow-alt-circle-right1:before {
  content: "\f35f";
}

.fa-arrow-alt-circle-up1:before {
  content: "\f360";
}

.fa-phone:before {
  content: "\e942";
}

.fa-phone-hang-up:before {
  content: "\e943";
}

.fa-envelop:before {
  content: "\e945";
}

.fa-undo2:before {
  content: "\e967";
}

.fa-redo2:before {
  content: "\e968";
}

.fa-forward:before {
  content: "\e969";
}

.fa-reply:before {
  content: "\e96a";
}

.fa-star-empty:before {
  content: "\e9d7";
}

.fa-star-full:before {
  content: "\e9d9";
}

.fa-heart:before {
  content: "\e9da";
}

.fa-plus:before {
  content: "\ea0a";
}

.fa-minus:before {
  content: "\ea0b";
}

.fa-cancel-circle:before {
  content: "\ea0d";
}

.fa-cross:before {
  content: "\ea0f";
}

.fa-checkmark:before {
  content: "\ea10";
}

.fa-checkmark2:before {
  content: "\ea11";
}

.fa-arrow-up-left:before {
  content: "\ea31";
}

.fa-arrow-up1:before {
  content: "\ea32";
}

.fa-arrow-up-right:before {
  content: "\ea33";
}

.fa-arrow-right1:before {
  content: "\ea34";
}

.fa-arrow-down-right:before {
  content: "\ea35";
}

.fa-arrow-down1:before {
  content: "\ea36";
}

.fa-arrow-down-left:before {
  content: "\ea37";
}

.fa-arrow-left1:before {
  content: "\ea38";
}

.fa-arrow-up-left2:before {
  content: "\ea39";
}

.fa-arrow-up2:before {
  content: "\ea3a";
}

.fa-arrow-up-right2:before {
  content: "\ea3b";
}

.fa-arrow-right2:before {
  content: "\ea3c";
}

.fa-arrow-down-right2:before {
  content: "\ea3d";
}

.fa-arrow-down2:before {
  content: "\ea3e";
}

.fa-arrow-down-left2:before {
  content: "\ea3f";
}

.fa-arrow-left2:before {
  content: "\ea40";
}

.fa-circle-up:before {
  content: "\ea41";
}

.fa-circle-right:before {
  content: "\ea42";
}

.fa-circle-down:before {
  content: "\ea43";
}

.fa-circle-left:before {
  content: "\ea44";
}

.fa-shift:before {
  content: "\ea4f";
}

.fa-checkbox-checked:before {
  content: "\ea52";
}

.fa-checkbox-unchecked:before {
  content: "\ea53";
}

.fa-radio-checked:before {
  content: "\ea54";
}

.fa-facebook1:before {
  content: "\ea90";
}

.fa-instagram1:before {
  content: "\ea92";
}

.fa-youtube2:before {
  content: "\ea9e";
}

.spMenu-Wrap {
  display: none;
}

.open #global-nav-sp {
  visibility: visible;
  z-index: 1000;
}

#global-nav-sp {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 5vw;
  text-align: center;
  vertical-align: middle;
}
#global-nav-sp .menu {
  vertical-align: middle;
}
#global-nav-sp .menu-item {
  margin-bottom: 6.5vw;
  transform: scaleX(0) translateX(-260px);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: none;
}
#global-nav-sp a {
  display: block;
  line-height: 5vw;
  text-decoration: none;
}
#global-nav-sp a span {
  font-size: 4vw;
}

.open #global-nav-sp .menu .menu__item {
  transform: scaleX(1) translateX(0);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;
}

.open #global-nav-sp .menu .menu__item:nth-child(2) {
  transition-delay: 0.3s;
}

.open #global-nav-sp .menu .menu__item:nth-child(3) {
  transition-delay: 0.4s;
}

.open #global-nav-sp .menu .menu__item:nth-child(4) {
  transition-delay: 0.5s;
}

.open #global-nav-sp .menu .menu__item:nth-child(5) {
  transition-delay: 0.6s;
}

.open #global-nav-sp .menu .menu__item:nth-child(6) {
  transition-delay: 0.7s;
}

#nav-bg {
  display: block;
  z-index: 999;
  position: fixed;
  top: -3vw;
  right: -6vw;
  width: 2400px;
  height: 2400px;
  margin-top: -1200px;
  margin-right: -1200px;
  transform: scale(0.01);
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: red;
  content: "";
  transition: all 0.3s ease-out;
}

.open #nav-bg {
  transform: scale(1);
  transition: all 0.5s cubic-bezier(0.87, 0.06, 0.58, 0.91);
}

#nav-toggle {
  display: block;
  z-index: 1001;
  position: fixed;
  top: 0;
  right: 0;
  width: 10vw;
  height: 10vw;
  padding: 1vw;
  background-color: #000;
  cursor: pointer;
}

#hamburger-c {
  position: relative;
  width: 100%;
  height: 100%;
}
#hamburger-c span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.6vw;
  background: #fff;
  transition: 0.35s ease-in-out;
}

#hamburger-c span:nth-child(1) {
  top: 1vw;
}

#hamburger-c span:nth-child(2) {
  top: 4vw;
}

#hamburger-c span:nth-child(3) {
  top: 7vw;
}

.open #nav-toggle {
  background: transparent;
}

.open #hamburger-c span {
  background: #fff;
}

.open #hamburger-c span:nth-child(1) {
  top: 50%;
  transform: rotate(-135deg);
}

.open #hamburger-c span:nth-child(2) {
  left: 50%;
  width: 0;
}

.open #hamburger-c span:nth-child(3) {
  top: 50%;
  transform: rotate(135deg);
}

#g-nav.panelactive {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
}

.circle-bg {
  z-index: 3;
  position: fixed;
  top: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  transform: scale(0);
  border-radius: 50%;
  background: #999;
  transition: all 0.6s;
}

.circle-bg.circleactive {
  transform: scale(50);
}

#g-nav ul {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#g-nav.panelactive ul {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#g-nav.panelactive ul li {
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-name: gnaviAnime;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  display: block;
  padding: 10px;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}

.openbtn {
  z-index: 9999;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.openbtn span {
  display: inline-block;
  position: absolute;
  left: 14px;
  width: 45%;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  transition: all 0.4s;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  width: 30%;
  transform: translateY(6px) rotate(-45deg);
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  width: 30%;
  transform: translateY(-6px) rotate(45deg);
}

.h1-siteLogo {
  width: 100px;
  height: 100%;
  background: transparent url("../../assets/images/noimage.png") no-repeat scroll;
  text-indent: -9999px;
}

.hr-body {
  padding-top: 50px;
}

hr {
  margin-bottom: 50px;
}

.hr {
  border-top: 1px solid #000;
}

.hr__dot {
  border-top: 1px dotted #000;
}

.hr__dash {
  border-top: 1px dashed #000;
}

.hr__double {
  border-top: 3px double #000;
}

.hr__solid {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

.hr__gradient {
  height: 1px;
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}

.hr__heading {
  border-top: 1px solid #000;
  text-align: center;
}
.hr__heading:after {
  display: inline-block;
  position: relative;
  top: -1em;
  height: 2em;
  padding: 0 1em;
  background: #fff;
  content: "NEWS";
  color: #000;
  line-height: 2em;
}

.ly-w-s {
  width: 200px;
  margin: 0 auto;
}

.ol-decimal {
  margin-bottom: 100px;
  list-style: decimal;
}

.ol-cnt {
  margin-bottom: 100px;
  margin-left: 1em;
}
.ol-cnt li {
  position: relative;
  list-style-type: none;
  counter-increment: cnt;
}
.ol-cnt li:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  margin-left: -2.5em;
  content: "(" counter(cnt) ") ";
  text-align: right;
}
.ol-cnt li:first-child {
  counter-reset: cnt 8;
}

.ul-disc {
  list-style: disc;
}

.pagerWrap {
  display: flex;
  overflow-x: auto;
}

.page_navi {
  display: flex;
  position: relative;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}
.page_navi li {
  margin-right: 20px;
}
.page_navi li a {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #e0dddd;
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
}
.page_navi li a:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.page_navi li:last-child {
  margin-right: 0;
}
.page_navi .current a {
  background-color: red;
  color: #000;
  pointer-events: none;
}

.section__ttl {
  position: relative;
  font-weight: bold;
  font-size: 3.4375vw;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.1em;
}
.section__ttl:before {
  z-index: 2;
  position: absolute;
  top: -7.8125vw;
  left: -5.625vw;
  width: 0.15625vw;
  height: 63.70625vw;
  background-color: #fff;
  content: "";
}

.section__subTtl {
  font-size: 2.1875vw;
  letter-spacing: 0.4em;
}

.section__num {
  font-weight: bold;
  font-size: 2.8125vw;
  letter-spacing: 0.4em;
}
.underline {
  display: inline-block;
  position: relative;
}
.underline:after {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5em;
  background: linear-gradient(to bottom, transparent 50%, aqua 100%);
  content: "";
  transition: all 0.8s;
}

.underline.is-underline:after {
  width: 100%;
}

.pd {
  padding: 500px;
}

.vertical {
  margin: 0 auto;
  text-indent: 1em;
  text-orientation: upright;
  writing-mode: vertical-rl;
}

.num {
  line-height: 1;
  vertical-align: baseline;
  text-combine-upright: all;
}

.guidance {
  width: 87.5vw;
  margin: 0 auto 18.5vw;
}

.guidance__ttl {
  letter-spacing: 0.4em;
  text-align: center;
}

.guidance__ttl--en {
  margin-bottom: 1.44vw;
  font-size: 3.59375vw;
  font-family: trajan-pro-3, serif;
}

.guidance__ttl--ja {
  margin-bottom: 4.45vw;
  font-size: 2.96875vw;
}

.guidance__img {
  width: 100%;
  height: 45.625vw;
  margin: 0 auto 9.8vw;
  background: url(../../assets/images/guidance.jpg) center center/cover no-repeat;
}

.heading-lv1 {
  margin-bottom: 7.8vw;
  font-weight: bold;
  font-size: 3.125vw;
  letter-spacing: 0.1em;
}

.heading-lv2__wrap {
  margin-bottom: 6.3vw;
}

.heading-lv2 {
  margin-bottom: 2.3vw;
  font-weight: bold;
  font-size: 2.8125vw;
  letter-spacing: 0.1em;
}

.guidance__text {
  font-weight: bold;
  font-size: 2.5vw;
  letter-spacing: 0.1em;
  text-align: justify;
}

.guidance__btn--pc {
  display: none;
}

.guidance__btn1,
.guidance__btn2 {
  margin: 0 auto;
}

.guidance__btn1 {
  margin-bottom: 9.6875vw;
  letter-spacing: 0.2em;
}

.guidance__btn2 {
  margin-bottom: 7.96875vw;
  letter-spacing: 0.1em;
}

.slick-prev,
.slick-next {
  z-index: 3;
  position: absolute;
  top: 42%;
  width: 25px;
  height: 25px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  outline: none;
  cursor: pointer;
}

.slick-prev {
  left: 2.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: 2.5%;
  transform: rotate(45deg);
}

.slick-dots {
  z-index: 3;
  position: relative;
  margin: -50px 0 0 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  outline: none;
  background: #ccc;
  color: transparent;
}

.slick-dots .slick-active button {
  background: #333;
}

/* 前ページ、次ページボタン共通のスタイル */
.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  /* ボタンの幅 */
  height: 48px;
  /* 背景画像としてのサイズ（＝表示したい画像サイズ） */
  margin-top: -24px;
  /* ボタンの高さ */
  background-size: 48px 48px;
  /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}

/* 次ページボタンのスタイル */
.swiper-button-next {
  color: red;
}
.swiper-button-next:after {
  position: absolute;
  top: 50%;
  right: 0.35em;
  width: 0.5em;
  height: 0.5em;
  transform: translateY(-50%) rotate(45deg);
  border: 0px;
  border-top: solid 0.1em currentColor;
  border-right: solid 0.1em currentColor;
  content: "";
}

/* 前ページボタンのスタイル */
.swiper-button-prev {
  transform: scale(-1, 1);
  /* 左右反転 */
}
.swiper-button-prev:after {
  position: absolute;
  top: 50%;
  right: 0.35em;
  width: 0.5em;
  height: 0.5em;
  transform: translateY(-50%) rotate(45deg);
  border: 0px;
  border-top: solid 0.1em currentColor;
  border-right: solid 0.1em currentColor;
  content: "";
}
@media (max-width: 850px){
  .ly-width{
    width: min(100% - 300px , 1200px);
    margin-inline: auto;
  }
  .br{
    display: block;
  }
  #hamburger,
.hamburger__bar{
    display: block;
  }
  .media{
    grid-template-columns: auto;
  }
  .media__reverse .media__img{
    order: inherit;
  }
  .spMenu-Wrap{
    display: block;
  }
  .page_navi li{
    margin-right: 4vw;
  }
  .page_navi li a{
    width: 7vw;
    height: 7vw;
    margin-right: 1vw;
    font-size: 3vw;
  }
}
@media not all and (max-width: 850px){
  #footer{
    display: block;
    height: 209px;
    padding-top: 67px;
    background-color: #fff;
    text-align: center;
  }
  .footerNav{
    display: block;
  }
  .footerNav .menu{
    display: grid;
    grid-template-columns: repeat(10, auto);
    justify-content: space-between;
    max-width: 979px;
    margin: 0 auto 8px;
    padding: 0 10px;
    color: #363636;
    font-size: 12px;
    font-family: NotoSans;
    letter-spacing: 0.05em;
  }
  .copyright__txt{
    font-size: 12px;
  }
  .sns{
    display: inline-block;
    margin-bottom: 24px;
    transition: 0.2s;
  }
  .sns:hover{
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }
  .globalNav{
    display: block;
    background-color: #6f7d6d;
  }
  .about{
    padding-top: 230px;
  }
  .about__ttl{
    margin-bottom: 25px;
    padding-top: 32px;
  }
  .card{
    display: grid;
    grid-template-areas: "a" "b" "c";
    margin-bottom: 65px;
  }
  .card__ttl{
    grid-area: a;
    min-height: 32px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .card__figure{
    grid-area: c;
    width: 242px;
    height: 183px;
    margin-bottom: 0;
  }
  .card__link:before{
    top: 50%;
    left: 122px;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  .card__link:before:hover{
    border-width: 7px 7px 0 7px;
    border-color: #000 transparent transparent transparent;
  }
  .card__link:after{
    bottom: -6px;
    width: 100%;
    height: 1px;
  }
  .card__link{
    grid-area: b;
    margin-bottom: 30px;
    padding-right: 15px;
    font-size: 16px;
  }
  .card__link:hover:after{
    background-color: #001405;
  }
  .card__link:hover:before{
    width: 0;
    height: 0;
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
  }
  .card__link:hover a{
    color: #001405;
  }
  .card__item4{
    display: none;
  }
  .cards{
    grid-template-columns: repeat(3, auto);
    width: 900px;
    margin: 0 auto;
    padding-right: 0;
    gap: 87px;
  }
  .eventInfo{
    padding-bottom: 172px;
    text-align: center;
  }
  .eventInfo__inner{
    width: 900px;
    margin: 0 auto;
  }
  .eventInfo__num{
    margin-bottom: 31px;
  }
  .eventInfo__ttl{
    margin-bottom: 19px;
    font-weight: bold;
    font-size: 22px;
  }
  .eventInfo__subTtl{
    margin-bottom: 90px;
    font-size: 14px;
  }
  .eventInfo__btn{
    display: block;
    position: relative;
    margin: 0 0 0 auto;
    border: none;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: right;
    text-align: right;
  }
  .eventInfo__btn:after{
    position: absolute;
    top: 34px;
    right: 0;
    width: 460px;
    height: 1px;
    background-color: #fff;
    content: "";
    transition: 0.2s;
  }
  .eventInfo__btn:hover{
    background-color: #6f7d6d;
    color: #001405;
  }
  .eventInfo__btn:hover:after{
    background-color: #001405;
  }
  .globalNav-2{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    padding-top: 19px;
    padding-right: 41px;
    padding-left: 38px;
  }
  .mainVisual{
    height: 491px;
  }
  .mainVisual__txtWrap{
    top: 70%;
  }
  .slider-1__item01{
    background: url(../../assets/images/TOP/mainvisual-pc.jpg);
  }
  .slider-1__item{
    height: 491px;

    /*背景画像をリピートしない*/
    background-position: center;
    background-size: cover;

    /*背景画像が.slider-item全体を覆い表示*/
    background-repeat: no-repeat;

    /*背景画像の位置を中央に*/
  }
  .siteTtl{
    margin-bottom: 115px;
    font-size: 26px;
  }
  .reservationBtn{
    display: none;
  }
  .postsWrap{
    width: 850px;
  }
  .posts__item{
    margin-bottom: 150px;
  }
  .brandLogo{
    display: none;
  }
  .pageTtl__en:before{
    top: 134px;
    left: -34px;
    width: 1px;
    height: 407px;
  }
  .pageTtl__en{
    width: 850px;
    margin: 0 auto 16px;
    padding-top: 166px;
    padding-left: 5px;
    font-size: 32px;
  }
  .pageTtl__ja{
    width: 850px;
    margin: 0 auto 95px;
    padding-left: 0px;
    font-size: 20px;
  }
  .post{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }
  .post__figure{
    width: 423px;
    height: 282px;
    margin-bottom: 0;
  }
  .post__body{
    width: 332px;
    height: 282px;
  }
  .post__date{
    margin-bottom: 26px;
    font-size: 12px;
  }
  .post__week{
    margin-left: 5px;
  }
  .post__excerpt{
    margin-bottom: 75px;
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: 0.2em;
  }
  .post__link:before{
    top: 50%;
    left: 117px;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  .post__link:before:hover{
    border-width: 7px 7px 0 7px;
    border-color: #000 transparent transparent transparent;
  }
  .post__link:after{
    bottom: -5px;
    width: 100%;
    height: 1px;
    margin-top: 0;
  }
  .post__link{
    width: 242px;
    margin-bottom: 0;
    font-size: 16px;
  }
  .post__link:hover:after{
    background-color: #001405;
  }
  .post__link:hover:before{
    width: 0;
    height: 0;
    border-width: 7px 7px 0 7px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
  }
  .post__link:hover{
    color: #001405;
  }
  .posts__btn{
    margin-top: 142px;
    margin-bottom: 91px;
    margin-left: 340px;
  }
  .slider-2{
    width: 1140px;
    height: 716px;
    margin: 0 0 0 auto;
    background: url(../../assets/images/TOP/golf-course-pc.jpg);
  }
  .slider-2__item{
    padding-left: 250px;
  }
  .slider-2__ttl{
    margin-bottom: 24px;
    padding-top: 38px;
    font-size: 25px;
  }
  .slider-2__subTtl{
    margin-bottom: 69px;
    font-weight: bold;
    font-size: 17px;
  }
  .slider-2__text{
    margin-bottom: 44px;
    font-size: 14px;
    line-height: 1.7142857143;
  }
  .slider-2__point{
    display: block;
    width: 891px;
  }
  .btn{
    width: 223px;
    height: 34px;
    font-weight: bold;
    font-size: 16px;
  }
  .btn--wh{
    display: none;
  }
  .section__ttl:before{
    width: 1px;
    height: 407.72px;
  }
  .section__ttl{
    font-size: 22px;
    letter-spacing: 0.4em;
  }
  .section__subTtl{
    font-size: 14px;
  }
  .section__num{
    font-weight: bold;
    font-size: 18px;
  }
  .guidance{
    width: 900px;
    margin-bottom: 168px;
  }
  .guidance__ttl{
    padding-top: 125px;
  }
  .guidance__ttl--en{
    margin-bottom: 14px;
    font-size: 32px;
  }
  .guidance__ttl--ja{
    margin-bottom: 70px;
    font-size: 20px;
  }
  .guidance__img{
    height: 470px;
    margin-bottom: 58px;
  }
  .heading-lv1{
    width: 800px;
    margin: 0 auto 48px;
    font-size: 20px;
    text-align: center;
  }
  .heading-lv2__wrap{
    width: 800px;
    margin: 0 auto 64px;
  }
  .heading-lv2{
    margin-bottom: 15px;
    font-size: 18px;
  }
  .guidance__text{
    font-size: 16px;
  }
  .guidance__btn--pc{
    display: block;
  }
  .guidance__btn1{
    display: none;
  }
  .guidanceInfo{
    padding-left: 0;
  }
}
@media not all and (max-width: 1200px){
  .slider-2{
    width: 95vw;
    height: 59.6666666667vw;

    /*背景画像をリピートしない*/
    background-position: center;

    /*背景画像の位置を中央に*/
    background-size: cover;
    background-repeat: no-repeat;

    /*背景画像が.slider-item全体を覆い表示*/
  }
  .slider-2__point{
    width: 74.25vw;
  }
}
@media not all and (max-width: 767px){
  a[href*="tel:"]{
    cursor: default;
    pointer-events: none;
  }
}
/*# sourceMappingURL=main.css.map */
