@use "setting" as *;

.res-price__img--sp {
    background: url(./../../assets/images/res&price-sp.jpg) center center /
        cover no-repeat;
    width: 100%;
    height: vw(373);
    @media not all and (max-width: $pc) {
        display: none;
    }
}
.res-price__img--pc {
    display: none;
    @media not all and (max-width: $pc) {
        display: block;
        background: url(./../../assets/images/res&price-pc.jpg) center center /
            cover no-repeat;
        width: 100%;
        height: 373px;
    }
}
.pageNav {
    width: vw(317);
    margin: 0 auto vw(88);
}
.pageNav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageNav__item {
    font-size: vw(16);
    font-weight: bold;
    @include ls(100);
    a {
        position: relative;
        transition: 0.2s;
        display: inline-block;
        &:hover {
            color: c(text-bk);
        }
    }

    ////// ホバー設定 //////
    a::after {
        position: absolute;
        bottom: vw(-7);
        left: 0;

        width: 100%;
        height: 1px;

        content: "";
        transition: transform 0.2s;
        transform: scale(0, 1);
        transform-origin: left top;

        background: c(text-bk);
    }
    a:hover::after {
        transform: scale(1, 1);
    }
    ////// ホバー設定 //////

}
.sectionHeading {
    text-align: center;
}
.iframe-plan {
    width: 88.5%;
    aspect-ratio: 566/361;
    margin-bottom: vw(112);
    margin: 0 auto;
    overflow-x: scroll;
    iframe {
        width: 150%;
        height: 100%;
    }
}