@use "setting" as *;

.res-price__img--sp {
    background: url(./../../assets/images/res&price-sp.jpg) center center /
        cover no-repeat;
    width: 100%;
    height: vw(373);
    @media not all and (max-width: $pc) {
        display: none;
    }
}
.res-price__img--pc {
    display: none;
    @media not all and (max-width: $pc) {
        display: block;
        background: url(./../../assets/images/res&price-pc.jpg) center center /
            cover no-repeat;
        width: 100%;
        height: 373px;
    }
}
.reserve__subTtl {
    margin-bottom: 10.7vw;
    @media not all and (max-width: $pc) {
        margin-bottom: 53px !important;
    }
    @media not all and (max-width: $lg){
        margin-bottom: vw(53,1440) !important;
    }
}
.price__subTtl {
    margin-bottom: 10.7vw;
    @media not all and (max-width: $pc) {
        margin-bottom: 82px !important;
    }
    @media not all and (max-width: $lg){
        margin-bottom: vw(82,1440) !important;
    }
}
.pageNav {
    width: vw(317);
    margin: 0 auto 15vw;
    @media not all and (max-width: $pc) {
        width: 314px;
        margin-bottom: 94px;
    }
    @media not all and (max-width: $lg){
        width: vw(314,1440);
        margin-bottom: vw(94,1440);
    }
}
.pageNav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageNav__item {
    font-size: vw(16);
    font-weight: bold;
    @include ls(100);
    @media not all and (max-width: $pc) {
        @include rem(16);
    }
    @media not all and (max-width: $lg){
        font-size: vw(16,1440);
    }
    a {
        position: relative;
        transition: 0.2s;
        display: inline-block;
        &:hover {
            color: c(text-bk);
        }
    }

    ////// ホバー設定 //////
    a::after {
        position: absolute;
        bottom: vw(-7);
        left: 0;

        width: 100%;
        height: 1px;

        content: "";
        transition: transform 0.2s;
        transform: scale(0, 1);
        transform-origin: left top;

        background: c(text-bk);
    }
    a:hover::after {
        transform: scale(1, 1);
    }
    ////// ホバー設定 //////
}
.sectionHeading {
    text-align: center;
}
.iframe-plan {
    width: 95%;
    aspect-ratio: 566/551;
    margin: 0 auto vw(112);
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
    @media not all and (max-width: $pc) {
        max-width: 920px;
        width: 100%;
        height: 574px;
        padding: 0 20px;
        margin-bottom: 159px;
    }
    @media not all and (max-width: $lg){
        max-width: vw(920,1440);
        height: vw(574,1440);
        padding: 0 vw(20,1440);
        margin-bottom: vw(159,1440);
    }
    iframe {
        width: 165%;
        height: 100%;
        @media not all and (max-width: $pc){
            width: 130%;
        }
        @media not all and (max-width: $lg){
            width: 100%;
        }
    }
}
