@use "setting" as *;

//　矢じるしバージョン ////////////////////////////////////////////////
.accordion {
    list-style: none;
    margin: 0 auto;
    margin-bottom: vw(132);
    @media not all and (max-width: $pc){
        margin-bottom: 131px;
        width: 850px;
        margin: 0 0 0 auto;
    }
}
.accordion__list {
    margin-bottom: 1.6vw;
    @media not all and (max-width: $pc){
        margin-bottom: 0;
    }
}

.accordion__section {
    border-bottom: vw(1) solid #ccc;
    @media not all and (max-width: $pc){
        border-bottom: 1px solid #ccc;

    }
}
.accordion__title {
    position: relative; //+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-family: ff(en);
    font-size: vw(20);
    @include ls(400);
    padding: 3% 3% 0.8% 7.6%;
    transition: all 0.5s ease;
    @media not all and (max-width: $pc){
        @include rem(20);
        padding: 3% 3% 0.6% 5%;

    }
}
.accordion__title--ja,
.accordion__text {
    font-size: vw(16);
    font-weight: bold;
    @include ls(100);
    @include lh(16,24);
    @media not all and (max-width: $pc){
        @include rem(16);
    }
}
.accordion__title--ja {
    margin-left: 1.4vw;
    @media not all and (max-width: $pc){
        margin-left: 9px;
    }
}

//アイコンの矢じるし*/
.accordion__title::before {
    content: "";
    position: absolute;
    top: 60.5%;
    left: 2.5%;
    transform: translateY(-50%) rotate(-90deg);
    transition: 0.2s;
    @include san;
    @media not all and (max-width: $pc){
        @include san-pc;
        top: 65.5%;
        left: 2%;
    }
}
//　closeというクラスがついたら形状変化　*/
.accordion__title.close::before {
    transform: rotate(0deg);
}

//アコーディオンで現れるエリア*/
.accordion__box {
    display: none; //はじめは非表示*/
    margin-bottom: 3.4vw;
    margin-top: 2vw;
    text-align: justify;
    @media not all and (max-width: $pc){
        padding: 0 50px 10px 30px;
        margin-top: 10px;
        margin-bottom: -2px;

    }
}
