@use "setting" as *;

//　矢じるしバージョン ////////////////////////////////////////////////
.accordion {
    list-style: none;
    margin: 0 auto;
    margin-bottom: vw(132);
}
.accordion__list {
    margin-bottom: vw(35);
}

.accordion__section {
    border-bottom: vw(1) solid #ccc;
}
.accordion__title {
    position: relative; //+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-family: ff(en);
    font-size: vw(20);
    @include ls(400);
    padding: 3% 3% 2% 9%;
    transition: all 0.5s ease;
}
.accordion__title--ja,
.accordion__text {
    font-size: vw(16);
    font-weight: bold;
    @include ls(100);
    @include lh(16,24);
}
.accordion__title--ja {
    margin-left: 1em;
}

//アイコンの矢じるし*/
.accordion__title::before {
    content: "";
    position: absolute;
    top: 52%;
    left: 4%;
    transform: translateY(-50%) rotate(-90deg);
    transition: 0.2s;
    @include san;
}
//　closeというクラスがついたら形状変化　*/
.accordion__title.close::before {
    transform: rotate(-45deg);
}

//アコーディオンで現れるエリア*/
.accordion__box {
    display: none; //はじめは非表示*/
    background: #f3f3f3;
    margin: 0 3% 3% 3%;
    padding: 3%;
}
