@use "setting" as *;

.card {
    display: grid;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    margin-bottom: 10.3vw;
    align-content: end;
    @media not all and (max-width: $pc) {
        display: grid;
        grid-template-areas: "a" "b" "c";
        margin-bottom: 65px;
        &:hover {
            .card__link {
                color: c(text-bk);
                &::after {
                    background-color: c(text-bk);
                }
                &::before {
                    @include san-pc-hover;
                }
            }
        }
    }
    @media not all and (max-width: $lg){
        margin-bottom: vw(65,1440);
    }
}
.card__ttl {
    font-size: vw(16);
    @include ls(200);
    margin-bottom: 2.5vw;
    @media not all and (max-width: $pc) {
        font-size: 16px;
        margin-bottom: 15px;
        grid-area: a;
        min-height: 32px;
        align-self: center;
    }
    @media not all and (max-width: $lg){
        font-size: vw(16,1440);
        margin-bottom: vw(15,1440);
        min-height: vw(32,1440);
    }
}
.card__figure {
    text-align: center;
    margin-bottom: 2.4vw;
    width: 100%;
    height: vw(183);

    @media not all and (max-width: $pc) {
        width: 242px;
        height: 183px;
        grid-area: c;
        margin-bottom: 0;
    }
    @media not all and (max-width: $lg){
        width: vw(242,1440);
        height: vw(183,1440);
    }
}
.card__img {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__link {
    font-size: vw(16);
    font-weight: bold;
    @include ls(100);
    text-align: right;
    transition: .2s;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 1vw;
        left: 28.5vw;
        transform: translateX(-50%) rotate(-90deg);
        @include san;
        transition: .2s;
        @media not all and (max-width: $pc) {
            @include san-pc;
            left: 122px;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
        }
        @media not all and (max-width: $lg){
            left: vw(122,1440);
            @include san-pc(bottom, .97vw, .485vw, #fff);
        }
    }

    &::after {
        position: absolute;
        content: "";
        width: vw(242);
        height: vw(1);
        background-color: #fff;
        right: 0;
        bottom: -.6vw;
        transition: 0.2s;

        @media not all and (max-width: $pc) {
            width: 100%;
            height: 1px;
            bottom: -6px;
        }
        @media not all and (max-width: $lg){
            bottom: vw(-6,1440);
        }
    }
    @media not all and (max-width: $pc) {
        @include rem(16);
        height: 24px;
        padding-right: 15px;
        grid-area: b;
        margin-bottom: 30px;
    }
    @media not all and (max-width: $lg){
        font-size: vw(16,1440);
        height: vw(24,1440);
        padding-right: vw(15,1440);
        margin-bottom: vw(30,1440);
    }
}

.card__item4 {
    @media not all and (max-width: $pc) {
        display: none;
    }
}
