@use "setting" as *;

.globalNav-2 {
    display: none;
    @media not all and (max-width: $pc) {
        padding-left: 38px;
        padding-top: 19px;
        padding-right: 41px;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(
            2,
            auto
        ); // auto=コンテンツ幅にしてくれる。1fr=5つとも同じ幅になる。

    }
    .menu {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(
            4,
            auto
        ); // auto=コンテンツ幅にしてくれる。1fr=5つとも同じ幅になる。
        // gap: 42px;
        width: 443px;
        &__item {
            font-size: 16px;
            font-weight: bold;
            @include ls(100);
            display: grid;
            place-items: center;
            a {
                position: relative;
                color: #fff;
                transition: 0.2s;
                display: inline-block;
                &:hover {
                    color: c(text-bk);
                }
            }

            ////// ホバー設定 //////
            a::after {
                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 1px;

                content: "";
                transition: transform 0.2s;
                transform: scale(0, 1);
                transform-origin: left top;

                background: c(text-bk);
            }
            a:hover::after {
                transform: scale(1, 1);
            }
            ////// ホバー設定 //////
        }
    }
    .menu__item--s {
        font-size: 12px;
        font-weight: normal;
    }
}
