@use "setting" as *;

.pageVisual {
    position: relative;
    margin-bottom: 13vw;
    @media not all and (max-width: $pc){
        margin-bottom: 102px;
    }
    @media not all and (max-width: $lg){
        margin-bottom: vw(102,1440);
    }
}
.pageVisual--res-price {
    margin-bottom: 8vw;
    @media not all and (max-width: $pc){
        margin-bottom: 65px;
    }
    @media not all and (max-width: $lg){
        margin-bottom: vw(65,1440);
    }
}
.pageVisual__inner {
    @media not all and (max-width: $pc){
        padding-top: 71px;

    }
    @media not all and (max-width: $lg){
        padding-top: vw(71,1440);
    }
}
.pageVisual__img--sp {
    background: url(./../../assets/images/pageVisual-sp.jpg) center center /
        cover no-repeat;
    width: 100%;
    height: vw(373);
    @media not all and (max-width: $pc) {
        display: none;
    }
}
.pageVisual__img--pc {
    display: none;
    @media not all and (max-width: $pc) {
        display: block;
        background: url(./../../assets/images/pageVisual-pc.jpg) center center /
            cover no-repeat;
        width: 100%;
        height: 373px;
    }
    @media not all and (max-width: $lg){
        height: vw(373,1440);
    }
}
.pageVisual__textWrap {
    position: absolute;
    top: 26.4%;
    left: 0;
    @media not all and (max-width: $pc){
        max-width: 1060px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 80px;
    }
    @media not all and (max-width: $lg){
        padding: vw(0) vw(80,1440);
        max-width: vw(1060,1440);
    }
}
.pageVisual__text--en {
    font-family: ff(en);
    font-size: vw(23);
    @include ls(400);
    padding-left: 9vw;
    margin-bottom: 2vw;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: vw(1);
        background-color: #fff;
        left: 6.3vw;

        top: -17.4vw;
        height: vw(216.35);
        @media not all and (max-width: $pc){
            height: 407.72px;
            width: 1px;
            top: 44px;
            left: -36px;
        }
        @media not all and (max-width: $lg){
            height: vw(407.72,1440);
            width: vw(1,1440);
            top: vw(44,1440);
            left: vw(-36,1440);
        }
    }
    @media not all and (max-width: $pc){
        @include rem(20);
        padding-top: 71px;
        padding-left: 0;
        width:900px;
        margin: 0 auto 19px;
    }
    @media not all and (max-width: $lg){
        padding-top: vw(71,1440);
        width: vw(900,1440);
        margin: 0 auto vw(19,1440);
        font-size: vw(20,1440);
    }
}
.pageVisual__text--ja {
    font-size: vw(19);
    @include ls(400);
    padding-left: 9vw;
    margin-bottom: 12vw;

    @media not all and (max-width: $pc){
        @include rem(14);
        width: 900px;
        padding-left: 0px;
        margin: 0 auto 95px;
    }
    @media not all and (max-width: $lg){
        width: vw(900,1440);
        margin: 0 auto vw(95,1440);
        font-size: vw(14,1440);
    }
}
.conteTtl {
    font-size: vw(20);
    @include ls(400);
    font-family: ff(en);
    text-align: center;
    margin-bottom: 13vw;
    @media not all and (max-width: $pc){
        @include rem(22);
        margin-bottom: 87px;
    }
    @media not all and (max-width: $lg){
        font-size: vw(22,1440);
        margin-bottom: vw(87,1440);
    }
}
