@use "setting" as *;
.slider-2 {
    position: relative;
    z-index: 1;
    width: 100%;
    height: vw(951);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background: url(../../assets/images/TOP/golr-course-sp.jpg);
    @media not all and (max-width: $pc) {
        background: url(../../assets/images/TOP/golf-course-pc.jpg);

        width: vw(1140, 1200);
        height: vw(716, 1200);
        margin: 0 0 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .slick-dots {
        bottom: 77vw;
        left: -40vw;
        transform: rotate(90deg);

        @media not all and (max-width: $pc) {
            bottom: vw(400, 1200);
            left: vw(-400, 1200);
        }
    }

}

.slider-2__item {
    position: relative;
    display: grid !important;
    place-content: center !important;
    width: vw(620) !important;
    height: vw(951) !important;
    padding-left: 10vw;
    @media not all and (max-width: $pc) {
        width: vw(1141, 1200) !important;
        height: vw(716, 1200) !important;
        margin-left: vw(-32,1200);
        padding-left: 0;
    }
}

.slider-2__ttl {
    margin-bottom: 4vw;
    font-size: vw(25);
    font-weight: bold;
    @include ls(300);
    @media not all and (max-width: $pc) {
        font-size: vw(25, 1200);
        margin-bottom: vw(10, 1200);
    }
}
.slider-2__subTtl {
    margin-bottom: 19vw;
    font-size: vw(17);
    font-weight: normal;
    @include ls(300);
    @media not all and (max-width: $pc) {
        font-weight: bold;
        font-size: vw(17, 1200);
        margin-bottom: vw(60, 1200);
    }
}
.slider-2__text {
    margin-bottom: 9vw;
    font-size: vw(14);
    font-weight: normal;
    @include ls(200);
    width: vw(405);
    @include lh(14, 28);
    @media not all and (max-width: $pc) {
        @include lh(14, 24);
        font-size: vw(14, 1200);
        margin-bottom: vw(60, 1200);
        width: vw(578, 1200);
    }
}
.slider-2__text--mb {
    @media not all and (max-width: $pc) {
        margin-bottom: vw(15, 1200);
    }
}
.slider-2__bar {
    width: vw(11);
    height: vw(526);
    position: absolute;
    top: 27vw;
    left: 10.8vw;
    @media not all and (max-width: $pc) {
        width: vw(11, 1200);
        height: vw(475, 1200);
        top: vw(81, 1200);
        left: vw(228, 1200);
    }
}
