@use "setting" as *;

.table {
    width: vw(566);
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: vw(39);

    font-size: vw(15);
    @include ls(400);

    // display: block;
    // overflow-x: scroll;
    // white-space: nowrap;


}
tbody,td,th {
    border: vw(1) solid #fff;
    width: vw(566);
}
.table th,
.table td {
    text-align: center;
    width: 20%;
    min-width: 130px;
    padding: vw(8);
}
.table__bgc {
    background-color: c(sub);
    color: c(text-bk);
}
.table__ttl {
    margin-bottom: vw(16);
}
.bd-none {
    border: 0px none;
}
// @media not all and (max-width: $pc){
//     .table {
//         display: block;
//         overflow-x: scroll;
//         white-space: nowrap;
//     }

// }